[2014-07-17 06:55] AgonyAunt opened #1 "Test issue"
this is a test

[2014-07-17 07:33] #1 closed, assigned to AgonyAunt

[2014-07-17 07:50] AgonyAunt opened #2 "Gnolls do not get Abyssal by default as a language"
According to lore they should.

Needs an extra entry in dmfi_langexe (i think its called).

[2014-07-17 07:52] AgonyAunt opened #3 "Add buffing spellcaster to Mortuary"
Saves people having to run back to the Bazaar to get a buff.

Suggestion included making them offer a different range of buffs (beyond the essential ones, PfE, Stoneskin, etc) to Tarion.

[2014-07-17 07:54] AgonyAunt opened #4 "Barracks courtyard Transition problem"
When using the eastern exit from the barracks you appear on the balcony in the courtyard. If waypoint transition then it needs moving from underneath the balcony probably, or set the door transition from inside to be the door in the courtyard.

[2014-07-17 07:55] AgonyAunt opened #5 "Lady's Ward - change as many placeables to env objects as possible."
As it says. Most of the houses, excepting those with working entrances, can become environmental objects to improve performance.

[2014-07-17 07:59] AgonyAunt opened #6 "Sigil Main - rework"
Sigil main is a performance hog, it also has the issue of being one of the largest areas which people always transition into when exiting the OOC room.

Recreate Sigil main as two areas, Market Ward and Clerk's Ward.

Also be sure to convert as many Placeables to Environmental Objects as possible.

[2014-07-17 08:02] AgonyAunt opened #7 "Make training club available"
Could be added to Barracks near the practice dummy or a merchant (guy in Barracks is an option). Should be free or cheap.

Training club is a unique item type in baseitems.2da

[2014-07-17 08:08] AgonyAunt opened #8 "Troll Race - not vulnerable to Fire and Acid"
Acid vuln feat needs creating (see existing Fire Vuln feat).

Add both feats to racial 2da. Update race description TLK.

If desired that any existing trolls retroactively get these feats then will need to edit pc_onmodload (or whatever its called) to check race, then check if they have these feats, and if not, add.

I recommend not to bother.

[2014-07-17 08:11] AgonyAunt opened #9 "Death Knight PC race - camera setting"
With a Death Knight the camera is too low.

[2014-07-17 08:11] AgonyAunt commented on #9
Problem is model related. Can't do anything about it.

[2014-07-17 08:21] AgonyAunt opened #10 "Efreet Wall of Fire doesnt work"
Been looked at several times, still no fix.

[2014-07-17 08:21] AgonyAunt opened #11 "Efreet to get same fire effect as Azer"
Request for Efreet to get the same fire effect as Azer.

I'm not too keen on this due to extra performance hit of constant VFX (as it affects all clients).

Azer was necessary to make it obvious.

The Efreet is clearly an Efreet and doesn't demand any additional effect.

[2014-07-17 08:23] AgonyAunt opened #12 "Give Efreet a kind of Human Torch 'flame on" feat"
As WoF doesn't work suggest grant in its place the ability to extend their flames to cause fire damage to people attacking them.

At the same time, while active, apply the flame VFX to the Efreet.

This replaces issue #10 and #11

[2014-07-17 08:24] AgonyAunt commented on #11
Suggested fix as issue #12

[2014-07-17 08:24] #11 closed, assigned to nobody

[2014-07-17 08:24] AgonyAunt commented on #10
Suggested fix as issue #12

[2014-07-17 08:24] #10 closed, assigned to nobody

[2014-07-17 08:28] AgonyAunt opened #13 "Construct DR not according to Lore"
Constructs currently get DR/Bludgeoning instead of DR/Adamantine.

Giving both would produce an AND effect as i recall from testing, meaning that they would be damn near impossible to damage (unless attacked with an Adamantine Blidgeoning weapon). The only way to create an OR effect for DRs is to apply directly to the creature template, which is not possible via scripting.

[2014-07-17 08:31] AgonyAunt opened #14 "Succubus needs appearance change ability"
Request for Succubus to be able to change appearance at will.

Xndar offered to deal with this.

[2014-07-17 08:31] AgonyAunt opened #15 "Nymph Kiss not working"
All targets report not valid targets.

[2014-07-17 08:33] AgonyAunt opened #16 "Inconsistent DCs on some new racial feats"
Needs looking into. Not certain if this issue is real or whether UI not reporting correctly.

[2014-07-17 08:35] AgonyAunt opened #17 "Female Werewolf Hybrid form - model problem with wielding weapons"
Apparently it has a problem. Male version does not have this problem,

Either change hybrid forms to be Polymorphs (and give appropriate bonuses like other racial polymorphs) or make female form use the male model.

[2014-07-17 14:20] AgonyAunt opened #18 "Make ability to clone properties from armours"
Was raised regarding to the special race armours but also important when someone spends a long time designing some armour and then finds something better.

Would require careful thought to make sure that nothing can be created which shouldn't.

So compare source and target base item types and they must be the same.  Target must lose any properties it has and material type, to be replaced by the ma

[2014-07-17 14:50] tomekk666 opened #19 "Undead should have d12 Hitdice"
As per PnP, each level they take gives them a d12 HD worth of HP to compensate for their lack of Constitution bonuses.

[2014-07-17 19:14] AgonyAunt opened #20 "Minotaur leathers do not display corrrectly"
Possibly a wrong setting. Otherwise its a model issue.

On related topic, there is a Hill Giant armour missing an icon. Fix at same time.

[2014-07-17 19:18] AgonyAunt commented on #19
Not possible really. A hack could provide a work around but would play hells with the relevel script.

I thought long and hard about the whole issue of undead CON and hit dice before making a decision on this. In the end considering their immunities and bonuses, i felt that the lower HP was compensated.

As a side note, any further improvement in Undead HP situation would require an increase in LA

[2014-07-17 19:18] #19 closed, assigned to nobody

[2014-07-17 19:19] tomekk666 commented on #19
Those big bonuses can be replicated by two wands... it doesn't really offset the fact that they will end up with half as many hitpoints as everyone else.

[2014-07-17 19:19] tomekk666 commented on #20
They also lack the armored appearance.

[2014-07-17 19:24] AgonyAunt commented on #19
Maybe, if they are either a wizard or have UMD. Its an advantage every character can have regardless of race. I'm not making a change on some races based on an argument that applies to all races.

[2014-07-17 19:39] tomekk666 commented on #19
...so the thing that makes them unique is easily replicable yet you'll still keep them weak because of it? Ok.

[2014-07-18 04:14] AgonyAunt opened #21 "Missing feat descriptions (DCs, Damage) in TLK for Special Race feats"
eg: Winter wolf and dragon breaths amongst others.

Go through TLK and fill in this info.

[2014-07-18 04:20] #13 closed, assigned to nobody

[2014-07-18 04:45] AgonyAunt commented on #19
Easily if you invest in UMD or are a Cleric i suppose, thats the point, you have to invest to get those things. And bringing OP Cleric spells into a discussion is not a good way to bolster it. Anyway, decision is final on this.

[2014-07-18 04:45] AgonyAunt commented on #20
Thanks for noting

[2014-07-18 05:17] AgonyAunt opened #22 "Runt/NotAdamJensen - issue with creature hide and Barb feats"
Lost DR on hide, character being flagged as illegal on OOC room check due to creature hide.

[2014-07-18 08:21] AgonyAunt commented on #22
DR is present, suspect game engine issue with DR from multiple sources. Nothing to do about it.
Tested character, no problem getting through OOC room portal. Suspect problem was related to overloaded inventory. MF will have to confirm.
Noted that ECL on essence was not set to value agreed on DM forums. Now increased by 1 point to 3.

[2014-07-19 05:55] AgonyAunt commented on #6
Reduce the number of active NPCs in the new Market Ward as well.

[2014-07-19 06:17] AgonyAunt opened #23 "Give dragons ability to take on humanoid form"
As it says.  Polymorph due to issues with appearance change.

[2014-07-19 06:48] AgonyAunt opened #24 "Ents have trouble hitting dragons"
Presume also applies to any race with a larger hitbox. Large vs large could be a problem here as their hit range might not be enough.

Consider tweaking the hit range of ents, but not too much, otherwise smaller races could be getting hit running away when they should be technically out of range.

Test properly before release on this one.

[2014-07-19 06:50] AgonyAunt commented on #22
Presuming resolved.

[2014-07-19 06:50] #22 closed, assigned to AgonyAunt

[2014-07-19 08:35] AgonyAunt opened #25 "Winter Wolf creature weapon - no cold damage"
Report of no cold damage on winter wolf creature weapon.

[2014-07-19 08:36] AgonyAunt opened #26 "Totem Barb creature weapon replaces existing weapon?"
When have a creature weapon, does the Totem Barb creature weapon replace?

[2014-07-19 09:35] AgonyAunt commented on #26
Confirmed that it won't replace. Not bug.

[2014-07-19 09:35] #26 closed, assigned to nobody

[2014-07-19 09:40] AgonyAunt commented on #25
Confirmed. Typo in racialsubtypes.2da

Fixed.

[2014-07-19 09:40] #25 closed, assigned to nobody

[2014-07-19 09:46] AgonyAunt commented on #15
Fixed. Forgot breaks at end of each case statement block.

[2014-07-19 09:46] #15 closed, assigned to AgonyAunt

[2014-07-19 09:48] AgonyAunt commented on #17
Fixed. Females now get same form as males.

[2014-07-19 09:48] #17 closed, assigned to AgonyAunt

[2014-07-19 10:15] AgonyAunt commented on #20
Fixed.

[2014-07-19 10:15] #20 closed, assigned to AgonyAunt

[2014-07-19 10:28] AgonyAunt commented on #21
Got most of them, but will wait for more reports.

[2014-07-20 09:04] AgonyAunt commented on #9
Reopen  check appearance 2da for half remembered setting to do with height..  Not scale.

[2014-07-20 11:28] tomekk666 opened #27 "Minotaurs are not Large"

[2014-07-20 19:30] AgonyAunt commented on #27
Fixed for next update. TLK entry changed as well. No changes should be required to existing characters, but if they are holding tiny weapons they may find they no longer can.

[2014-07-20 19:30] #27 closed, assigned to nobody

[2014-07-20 19:34] AgonyAunt opened #28 "Card game - change how variables are stored"
This is going to be a tricky one but i think its necessary to reduce the object size and therefore BIC size.

Currently it stores all vars on the object after a card is added. Therefore instead of just 1 var for each card stored in the deck it has something like 6.

Instead when playing a game the display screen takes values from the cards 2da and once cards are selected their values are stored on

[2014-07-20 19:49] AgonyAunt commented on #21
Update tomorrow so will go with what we have.

[2014-07-20 19:49] #21 closed, assigned to AgonyAunt

[2014-07-20 19:50] AgonyAunt commented on #9
Height setting exists, no idea if will work, but going in with tomorrows changes. Will see what happens.

[2014-07-20 19:50] #9 closed, assigned to nobody

[2014-07-20 19:50] AgonyAunt commented on #6
Mimi has taken this project.

[2014-07-20 20:29] AgonyAunt opened #29 "PC Races with creature weapons should scale with level"
Rather than messing around giving and taking enhancements and values, simply have a series of creature weapons for each one with increasing values every 5 levels or something that get swapped out.

[2014-07-21 04:40] AgonyAunt opened #30 "On Hit Level Drain enchantment - DC issue"
Recipe description does not match enchantment DC 20 vs DC18 applied.

[2014-07-21 14:30] tomekk666 opened #31 "Giant Weapons cannot be buffed"
Hill Giant cleric could not buff his greatclub.

[2014-07-21 18:57] AgonyAunt opened #32 "Minotaurs getting Gnoll not Giant as a language"
As per title.

[2014-07-21 18:59] AgonyAunt commented on #31
Bet this is to do with GetIsWeapon() or GetIsMeleeWeapon() function not having the new weapon types in.

[2014-07-21 19:36] AgonyAunt opened #33 "Khaasta height setting in appearance.2da too low"
Increase Height setting as did for other races.

See issue #9

[2014-07-21 19:44] AgonyAunt opened #34 "Nymph Kiss gives too large DC bonus"
They get an additional +4 to DC for no reason.

[2014-07-21 19:47] AgonyAunt commented on #34
Applied as hotfix for next server reset.

[2014-07-21 19:47] #34 closed, assigned to nobody

[2014-07-21 20:01] AgonyAunt commented on #31
Had function name wrong, its IPGetIsMeleeWeapon in x2_inc_itemprops.

Updated that and recompiled scripts for Keen, Weapon of Impact, Bless Weapon, Holy Weapon, Magic Weapon, and GMW.

There may be more scripts that need fixing, but this will do for initial test and hotfix.

[2014-07-23 04:15] AgonyAunt opened #35 "Half-Dragon not getting immunity (acid only?)"
Arvuelos

I've been playing an acid breathing half-dragon. Noticed I'm not actually immune to acid.

Character name is Morokei Nos, on ID same as my forum ID.

[2014-07-23 04:16] AgonyAunt commented on #35
Check BIC to see if feat granted right. If so, may be a problem with feat itself.

[2014-07-23 08:29] AgonyAunt opened #36 "Review SRs on new races"
Add new SR feats or use existing 1833 feat?

Or just adjust LAs due to creatures getting too high LA?

[2014-07-23 08:56] AgonyAunt opened #37 "Nymph Unearthly Grace should be Deflection AC not Dodge"
Ooops.

[2014-07-23 09:03] AgonyAunt opened #38 "New Warlock Invocations - possible issues"
From forum post: http://z13.invisionfree.com/nwn2planescape/index.php?showtopic=9223

By Taurus Daggerknight:

My apologies if this is in the wrong section or if this has been brought up before (Didn't see a thread on it, and most of the people I've spoken to seem to know little about the new ones).

First off; the concepts behind the new invocations are sweet. Baelful Gaes and Dark Discorp-whatev

[2014-07-23 15:59] AgonyAunt opened #39 "Vampire Gaseous form can be hit by (magical?) weapons"
Check Gaseous form of Eladrin as well

[2014-07-23 17:31] Tamamo-no-Mae opened #40 "Tattoo parlor dialog is unintuitive"
Making the tattoo parlor merchant display all available tattoos both when a tattoo is already present and when the character does not have enough money for all of them, even if they cannot purchase some or all of the tattoos being shown, would be more informative and convenient.

[2014-07-23 17:51] Tamamo-no-Mae opened #41 "Negative energy burst is treated as hostile by undead"
The spell Negative Energy Burst triggers a will save for half damage when it hits undead--who are instead making a will save for half healing. Negative Energy Ray does not share this behavior.

[2014-07-23 21:12] Tamamo-no-Mae commented on #39
Confirmed that vampire gaseous form can be hit by magical weapons. A nonmagical weapon was unable to deal physical damage to a gaseous form vampire (damage reduction absorbing 30 and letting 0 through), while a magical weapon from the same wielder could (damage reduction absorbing 10 and letting 5 through).

[2014-07-24 04:15] AgonyAunt commented on #39
Thanks. Looks like ill have to change the DR type then.

[2014-07-24 04:19] Tamamo-no-Mae opened #42 "Stone scorpion venom bypasses immunity to poison"
In the umber hulk caves in the earth plane, the stone scorpions can seemingly poison characters immune to poisons. The attack hits, the poison immunity message triggers, but the character can still be hit with a slow effect (which is what I presume the venom is). If this slowing is actually a side-effect and they have a separate poison and I was mistaken, please close this issue.

[2014-07-24 04:22] Tamamo-no-Mae commented on #16
I can run through some tests no problem, as long as I know what races need their abilities checked.

[2014-07-24 04:27] AgonyAunt commented on #42
I'd guess it should be linked to the poison effect, but the check for poison immunity is only being made on the poison itself. Thanks for the report.

[2014-07-24 04:28] AgonyAunt opened #43 "Kamal's reskinned mindflayers"
http://neverwintervault.org/project/nwn2/model/kamals-mindflayer-reskins

Oh yes!

Check size though, don't want to increase HAK size too much.

[2014-07-24 05:40] AgonyAunt opened #44 "All new innate abilities such as vampire transformations are interruptable."
Require concentration checks, etc.

[2014-07-24 08:36] AgonyAunt opened #45 "Hezrou stench can be spammed"
Hezrou stench can be spammed rapidly ad-nauseum without any cooldown.

[2014-07-24 08:36] AgonyAunt opened #46 "Hezrou 10/cold iron damage reduction is not working"
(only has cold/acid/fire damage reduction).

[2014-07-24 08:38] AgonyAunt commented on #31
No further comments so closing.

[2014-07-24 08:38] #31 closed, assigned to AgonyAunt

[2014-07-24 08:41] AgonyAunt commented on #46
Incorrect feat id in race_feat_hezrou.2da
Rebuild required on existing Hezrou characters.

[2014-07-24 08:41] #46 closed, assigned to AgonyAunt

[2014-07-24 08:46] AgonyAunt commented on #45
Corrected entry in feat.2da. Updated description. Cooldown set to 5 mins.

[2014-07-24 08:46] #45 closed, assigned to AgonyAunt

[2014-07-24 08:47] AgonyAunt commented on #37
Fixed. TLK entries updated.

[2014-07-24 08:47] #37 closed, assigned to AgonyAunt

[2014-07-24 08:56] AgonyAunt commented on #35
Had failed to grant immunity when selecting dragon type unlike with level up script for RDD which had it set.

[2014-07-24 08:56] #35 closed, assigned to AgonyAunt

[2014-07-24 08:57] AgonyAunt commented on #35
PS: Existing Half-Dragons can ask for admin to clear their variable on their essence to reselect their type and get the immunity.

[2014-07-24 09:00] AgonyAunt commented on #33
Already set, as it uses the same appearance as Half-Dragon.
Will increase a little more.

[2014-07-24 09:00] #33 closed, assigned to AgonyAunt

[2014-07-24 09:23] AgonyAunt commented on #32
Fixed. No longer get Gnoll, now get Giant.

[2014-07-24 09:23] #32 closed, assigned to AgonyAunt

[2014-07-24 09:23] AgonyAunt commented on #2
While fixing minotaur, also added this.

[2014-07-24 09:23] #2 closed, assigned to AgonyAunt

[2014-07-24 09:27] AgonyAunt commented on #44
Fixed in spells.2da

[2014-07-24 09:27] #44 closed, assigned to AgonyAunt

[2014-07-24 09:34] AgonyAunt commented on #39
Was 100% immunity to physical. Looks like this is overcome by magical weapons. Tried to change this to 100% immunity to Pierce + 100% immunity slash + 100% immunity bludg.

See if that works better.

If not, then will have to change it to be a feat which gets added when they change form although not sure if that will fare better.

Need confirmation of fix.

[2014-07-24 09:43] AgonyAunt commented on #30
nx2_enchanting.2da looks correct and cross checked with iprp tables.

Needs confirming this is a problem.

[2014-07-24 10:40] tomekk666 commented on #43
Tint maps are nice, but they look very, very low-res to me. :-S

[2014-07-24 10:42] tomekk666 commented on #36
What do you mean new SR feats? Spell resistance?

[2014-07-24 10:45] tomekk666 commented on #38
I say we should look into Warlock spells in general and NOT necessarily stick to the rulebooks. They are nearly always built the same way, there's absolutely no point in varying up the spells because 70% of them are just bad 1 round crowd-controls which are simply inferior to Noxious' 10 round daze (and that doesn't mean Noxious is the culprit here, AA).

I'd also recommend the line of DC improvin

[2014-07-24 10:48] AgonyAunt commented on #41
Put in an extra check for racial type on the save condition. Should mean they don't have to make the save.

[2014-07-24 10:48] #41 closed, assigned to nobody

[2014-07-24 10:51] AgonyAunt commented on #42
Ah, they are two separate effects on the same creature weapon, therefore they cannot be linked.
So going to have to go down as a Can't Fix.

[2014-07-24 10:51] #42 closed, assigned to nobody

[2014-07-24 10:53] tomekk666 commented on #29
:+1:  Just take hints from how Monks scale and let them have Multi-attack. Also, is Greater Magic Fang and the Creature critical spell working with all of them? + Bless Weapon would be a nice touch, I believe it works with current druid ones and with that they can finally damage some thing.

[2014-07-24 10:53] AgonyAunt commented on #30
Closing until confirmation of problem and is something solvable if it is.

[2014-07-24 10:53] #30 closed, assigned to nobody

[2014-07-24 17:33] Tamamo-no-Mae commented on #36
What precisely is this issue about? Do you mean that SRs are too low because it's based on character level, which most races don't get as many of? Or...

[2014-07-24 17:35] Tamamo-no-Mae commented on #39
Confirmed that a magical weapon was stopped by the damage resistance of gaseous form. (More than 10 and the damage reduction absorbed 0, so it was the resistance from gaseous form, not the racial DR 10/silver.)

[2014-07-24 19:14] AgonyAunt opened #47 "Create Greater Undead - increase duration"
Should we?

[2014-07-24 19:20] AgonyAunt opened #48 "Lycanthrope hybrid and beast DRs don't match descriptions"
Description says DR AS10 for both.  Design gave 5 for Hybrid and 10 for Beast. Apparently Beast only gets 5.

Needs descriptions bringing into alignment with mechanics and decision making on what is right. Also figure out why Beast form only gets AS5.

[2014-07-24 19:25] tomekk666 commented on #48
Bring both to ten. Beast should be good for a quick getaway and hybrid for fighting IMO.

[2014-07-24 19:25] tomekk666 commented on #47
Its one of the only wortwhile summons, why not?

[2014-07-24 19:29] AgonyAunt commented on #43
Also this: http://neverwintervault.org/project/nwn2/model/illithid-lord-model

[2014-07-24 19:35] AgonyAunt commented on #16
Not sure myself. There was the one post on the forums, i should have linked to it here, but just scan back through the posts from last week or so.
Thanks for the help.

[2014-07-24 19:36] AgonyAunt commented on #43
@tomekk666  - same as regular model i'd guess. Kamal_ does good work usually. Probably the pics don't do them justice.

[2014-07-24 19:38] AgonyAunt commented on #36
@tomekk666 - yup, spell resistance. Came out of a discussion on IRC about giving races their actual SR instead of just the stock 10 (or 11?)  + Char level.

Gith for example should only get 5+Char level.

[2014-07-24 19:38] AgonyAunt commented on #36
@Tamamo-no-Mae - see previous comment. I basically gave all races with SR the same value.

[2014-07-24 19:40] AgonyAunt commented on #38
@tomekk666 - Possibly. This one is definitely for Xndar to handle though, so ill remain fairly hands off except for approval/disapproval on final decisions.

When Xndar returns from their vacation ill poke them to get on GitHub so i can assign this issue to them.

[2014-07-24 19:42] AgonyAunt commented on #29
@tomekk666 - its an option. And some races (Lycanthropes) do get multi-attack. And yes, as long as you have creature weapons then all those types of spells work on them.  If you visit the Oarsman and ask for removal, then you lose the ability to receive those types of buffs.  Suppose the wiki should be updated to make that clear.

[2014-07-24 19:43] AgonyAunt commented on #39
@Tamamo-no-Mae  or @tomekk666 - can one of you confirm whether or not the fix that went in today now fixes this?

Apologies, didn't read last comment.  So... its fixed?

[2014-07-24 19:44] AgonyAunt commented on #48
That would be in line with SRD....

[2014-07-24 19:44] AgonyAunt commented on #47
heh, perhaps.

[2014-07-24 19:53] tomekk666 commented on #38
Well, let's hope for the best then.

[2014-07-24 19:53] tomekk666 commented on #29
Ahh yeah, then they should be bearable as long as the damage scales with HD.

[2014-07-24 19:55] tomekk666 commented on #36
I think sticking to the 11+HD is worth it, every race ends up with an SR that can resist spell-like abilities during grinding session well enough.

[2014-07-24 19:56] tomekk666 commented on #43
Yeah, they're obnoxiously pixelated so I guess its a low res image. I say go for it, won't hurt anyone... though Illithid's ECL is something else :p

[2014-07-24 19:57] tomekk666 commented on #48
And is that a bad thing? Giving the combat form the lower DR is not exactly great logic IMO.

[2014-07-24 19:59] Tamamo-no-Mae commented on #39
As far as I can tell.

[2014-07-24 19:59] #39 closed, assigned to AgonyAunt

[2014-07-24 20:02] Tamamo-no-Mae commented on #47
As it is now, Create Greater Undead's summon doesn't die before its duration runs out so much as its duration runs out before you finish buffing it.

Edit: erk, sorry, clicked the wrong button.

[2014-07-24 20:08] Tamamo-no-Mae commented on #36
I suppose it depends on the race and their level adjustment. Drow get 11+HD, Gith have 10+HD and have fairly similar traits (with Drow in the clear lead), for instance, and both have LA+2.

[2014-07-24 20:34] AgonyAunt commented on #36
@Tamamo-no-Mae - actually i think that is an error on my part. They all get the same Drow 11+HD. So i need to change descriptions where i wrote 10+HD.

@tomekk666 - yeah, not quite my thoughts, but basically it makes area design with monsters easier. Either they have racial SR which is the same for all races with, or they don't (unless they have SR items).  On the other hand, its not canon... whic

[2014-07-24 20:35] AgonyAunt commented on #48
Nope, it would be a good thing. I just question whether i want to do that.

[2014-07-24 20:37] AgonyAunt commented on #39
Awesome! Thanks!

[2014-07-24 20:38] AgonyAunt commented on #47
@Tamamo-no-Mae - That bad? LOL. Ok, i'll definitely take a look at it then.  And getting carried away closing issues? Hehe.

[2014-07-24 21:33] Tamamo-no-Mae commented on #14
I feel like suggesting succubi should have a humanoid base appearance and can swap to the succubus appearance at will. Would make it more customizable, at least.

[2014-07-24 21:54] Tamamo-no-Mae opened #49 "Werewolf and wererat ability adjustments are enhancement bonuses"
To clarify, the ability adjustments from going into hybrid or full beast form are added as enhancement bonuses. In other words, they do not stack with gear, and thus can and will be rendered irrelevant. This makes their level adjustments simply not worth the benefit. Added to bug and feature request because I'm not sure if this was a bug or intentional.

[2014-07-24 22:57] Tamamo-no-Mae opened #50 "Vampire gaseous form has incorporeal racial type"
Vampires in gaseous form are not incorporeal. Also, this makes it so that vampires in gaseous form can be harmed by negative energy spells and cured by positive energy spells, and cannot be turned.

[2014-07-24 23:00] Tamamo-no-Mae opened #51 "Vampire gaseous form can deal physical attack damage"
It is incredibly minor, 1d3, but still there.

[2014-07-25 04:29] AgonyAunt opened #52 "Mechanus spawns not working"
I promised Xndar i would look at this when i got the chance.

Also needs portal hooking up when spawns fixed.

[2014-07-25 04:30] AgonyAunt opened #53 "Adjust Limbo spawns CRs and chests"
One for Mimi when she gets the chance.

Reports were spawns CR were too low for difficultly meaning not enough XP.

[2014-07-25 04:42] AgonyAunt commented on #14
Like vampire then? Two issues - it would mean a fixed base appearance (race) and no changing to other races.  Also any existing succubus would need to do a full rebuild to make this work.

Also, i really wanted to deter too many succubus walking around considering the nature of the RP of certain types of players. Its enough with the Nymphs.  Which is why i chose to got this route.

Ah, also it has

[2014-07-25 04:43] AgonyAunt commented on #49
Not only intentional, its the only way it can be done. Closing.

[2014-07-25 04:43] #49 closed, assigned to nobody

[2014-07-25 04:44] AgonyAunt commented on #50
Thanks. Thought it made sense for them to be incorpreal, but you pointed out a real problem with this idea, so will change it to undead.

[2014-07-25 04:45] AgonyAunt commented on #51
Interesting, shouldn't be anything. The creature weapon has No Monster Damage property.  Ill double check but this may just be a game engine bug.

I can try lowering the STR on the form... maybe that will offset it a bit.

[2014-07-25 05:23] Tamamo-no-Mae commented on #51
Nah, don't lower the STR. It's already pretty low as is, too much farther and it'll start being Dark Discorporation's same problem. I'm pretty sure there's a reduced damage property somewhere though--if No Monster Damage isn't working, try No Damage or -10 or so bludgeoning to lock it at 1 even if it got a buff. 1 damage is still damage, but... well, it's so nonexistent it's really not worth consi

[2014-07-25 05:23] Tamamo-no-Mae commented on #49
Sadface. :<

[2014-07-25 05:51] AgonyAunt commented on #51
Well, 1d3 is also practically no damage, although it can crit.  But will see what i can do.

[2014-07-25 07:22] Tamamo-no-Mae commented on #51
It's not too big of an issue, just thought I'd mention it as a bug.

[2014-07-25 07:53] Tamamo-no-Mae commented on #14
Hmm, that makes sense.

[2014-07-25 18:21] Tamamo-no-Mae opened #54 "Liches and their phylacteries"
I would like to ask why the lich has such a high level adjustment (+6!), and if there is any way to integrate their phylactery and revival abilities into their racial traits. While it might be a bit iffy to venture into death penalty leniency for a single race, the ability of a lich to get back up after you strike it down is its defining feature. You kill them, and they just don't die.

[2014-07-25 19:38] AgonyAunt commented on #54
@Tamamo-no-Mae - Hmm... we could add the same ability the Spirit Shaman has. The one that restores you to life.  Could even keep activating it. Would of course be a real pain to players who are stuck being killed over and over again though.  So perhaps once per day with full heal would be good.

As for +6, well, its pretty nice for casters as races go, but yeah, maybe a little high, so some extra

[2014-07-25 22:03] tomekk666 commented on #54
+6 is way too high considering their mediocre stats and the appauling HP they will achieve as a wizard or such. I'd suggest 5 at most so they can still reach Epic Caster DC+3 via practiced... but even that is too high.

[2014-07-25 22:37] Tamamo-no-Mae commented on #54
"So perhaps once per day with full heal would be good."
Or have it on a cooldown? Wait at least one minute between triggers, gives ample time to choose to respawn. Given that liches are primarily casters, that's probably not as bad as it sounds, since they'll lose their buffs on death. Once per day could work though. Aside from that, I would suggest either lowering their level adjustment to +4 to

[2014-07-25 22:42] Tamamo-no-Mae opened #55 ""Faithless" tattoo (very likely) provides no resistance to turning"
From experience, I've found that the tattoo providing +15 turn resistance... does not do that. Turning rates don't seem to change at all.

[2014-07-25 23:01] Tamamo-no-Mae opened #56 "Assassin spellcasting as arcane archer qualification"
Would it be possible/reasonable to let Assassin qualify for Arcane Archer past a certain level, since the Assassin PRC uses prepared arcane spells?

[2014-07-25 23:49] Tamamo-no-Mae opened #57 "Word of changing forms"
Would it be possible to change what forms Word of Changing uses? Maybe let warlocks talk to Styx in the OOC room to get a feat or cursed item that WoC checks for. This would let players use WoC while RPing pacts that... you know, are not infernal. A demon would never give a devil's form, and there are a lot of fey, celestials, and eldritch horrors who probably have their own tastes.

[2014-07-26 00:29] Tamamo-no-Mae opened #58 "Vampires, lycanthropes, and chairs"
Vampires [and werewolves/wererats] seem to refuse to perform chair animations for sitting.

[2014-07-26 03:43] AgonyAunt commented on #54
I think +4 could be an option with this race or +5 with the auto-heal.

Cooldown could be good as it would then avoid the whole death/heal/death/heal issue.

Only problem is it usually activates on rest so ill have to tweak it to work differently.

[2014-07-26 03:44] AgonyAunt commented on #55
I was always suspicious of that myself although i never played any race that could be turned. I never saw anything in the code to support it, so always presumed it was something in the hard code that handled it.

[2014-07-26 03:45] AgonyAunt commented on #56
That could be tricky due to how requirements are handled. Ill take a look at some point. See if its doable.

[2014-07-26 03:47] AgonyAunt commented on #57
Actually, if i were to do this, i'd make it alignment based. Its one of those things that has been considered before and just so low priority its never got dealt with.  But now we have GitHub at least we won't forget. ;)

[2014-07-26 03:49] AgonyAunt commented on #58
In human form i guess you mean, since Dark Form won't have the animations.

I think Lycanthropes will have a similar issue. Its because the chairs check race to make sure they can do their anim.  I think i can fix this.

By the way, Kemo animations should work, so just position yourself near the chair, i think you might need to turn off collisions using the DMFI tool as well. The use kemo anims to

[2014-07-26 04:03] Tamamo-no-Mae opened #59 "Wraiths get hit on by Layla (night hag herbalist in Sigil main)"
I don't even know.

[2014-07-26 06:42] Tamamo-no-Mae opened #60 "Aasimar don't receive Celestial as a bonus language"
Exactly what it says on the tin.

[2014-07-26 10:37] AgonyAunt commented on #59
No racial check on convo that's why. Nobody said Hags were discriminating.

[2014-07-26 10:38] AgonyAunt commented on #60
Because they are not outsiders. They are planetounched. None the planetouched get their "home" language. Many are born on primes. Only those born on the outer planes would know their home language.

Therefore no requirement to automatically grant.

[2014-07-26 10:38] #60 closed, assigned to nobody

[2014-07-26 14:51] AgonyAunt opened #61 "Cowl of Warding bonus vs Mind Affecting"
Doesn't appear to be working, at least against fear effect from Horned devils.

Could be a problem with either property or devil effect.

Needs a quick test module setting up to check dice rolls against both the fear effect and item properties.

[2014-07-26 16:35] Tamamo-no-Mae opened #62 "Add character deletion to essence menu"
Orlitoq:
Is there any chance we can add the option of Deleting a character to the Character's Essence menu?

Personally, I hate bugging DMs for teleports to the OOC room, or waiting for a server reset to rebuild. Adding this option lets players nuke their own characters, with sufficient "yes I really really want to do this!!" warnings and save badgering DMs for little things.

[2014-07-26 22:28] Tamamo-no-Mae opened #63 "Better renaming widget/ui"
Er Nano Infame:
can items renaming window (the one showing up using DMFI tool) be improved ? more space, more alph numeric characters useable, colours and all?

[2014-07-27 03:46] Tamamo-no-Mae opened #64 "Belt models on appearance changer"
A. Thereal:
I'm certain this topic has been raised before, but can we please allow access to belt models on the appearance changers? I know for a fact that the appearance changer SCoD uses is capable of accessing belts - I've done it on other servers via the same system.

I know this would make a lot of people happy.

http://z13.invisionfree.com/nwn2planescape/index.php?showtopic=9254

[2014-07-27 04:07] Tamamo-no-Mae opened #65 "Celestial wolverine question should have nonlethal resolution as an option"
For the quest, you should be able to make a survival check upon encountering it to see if you can get it back out through the portal without killing it. This would make it possible to resolve in a merciful, good-aligned way.

Suggested layout:
Spawn the animal as neutral/friendly, automatically trigger dialog with three options.
1: Attack/defend yourself/something.
2: If the player has belladona,

[2014-07-27 05:55] AgonyAunt commented on #63
Technically yes. Original idea was not to allow people to make items that look special when they are not so as to keep the uniqueness of special items.  Will think about whether we want to allow this.

[2014-07-27 05:57] AgonyAunt commented on #64
As stated on forums. Need to know of a server which has this option and would need to integrate it, not something i'm sure i can do.

[2014-07-27 05:59] AgonyAunt commented on #65
Interesting idea. But yeah, one of those things for when nothing much else to do, or perhaps for a new developer to try and cut their teeth on.

[2014-07-27 18:02] miriamchaturvedi commented on #64
Its part of the standard xp_craft as of the past few years (assuming that plugin is hosted elsewhere now that the vault is dead). I could try implementing it when I'm done with my other projects?

Sadly, you can't tint the belts even if you can change them. :(

[2014-07-27 18:08] miriamchaturvedi commented on #53
Issues to fix:
- Spawns CR too low
- Chests need more treasure
- Chests shouldn't declare the amount of gold they're generating
- Possibly need more monsters

I will look into fixing these in the next month.

[2014-07-27 18:28] AgonyAunt commented on #64
I think its probably hosted on nwnx.

Would need to check to see whether the dupe item fix is in place and other changes we made locally... so best if possible to integrate.

[2014-07-27 18:58] AgonyAunt opened #66 "Combat Familiars"
Like my old pack. Require taking a feat to get access.
Also, there is no SetFamiliar function, so it would require modifying the summon familiar script to look at a variable (probably stored on essence) that is set via convo after feat is taken and triggered by the onlevelup event.

[2014-07-28 08:36] Tamamo-no-Mae opened #67 "Acid head arrows, freezing arrows"
Acid head arrows seem to have a price locked at 0, despite their effects being directly superior to acid arrows. (Acid arrow: +1d6 acid; acid head arrow: +1d8 acid, blindness DC 16 5% for 5 rounds, wounding DC 20).

Freezing arrows have the on-hit property: "Bad Strref Level 5".

[2014-07-28 08:52] AgonyAunt commented on #67
Closing. First issue is intended. Second, not sure, but anyway all items will get reviewed when economic overhaul goes ahead. Any bugged/broken items will be fixed/removed at this time.

[2014-07-28 08:52] #67 closed, assigned to nobody

[2014-07-28 22:44] Tamamo-no-Mae opened #68 "Word of changing racial type is djinn"
It's not even remotely important as far as bugs go, but it really looks silly on the character sheet. Form and stats are fine, just that tiny little bit.

[2014-07-29 02:49] AgonyAunt commented on #68
That is strange!

[2014-07-29 11:49] Tamamo-no-Mae opened #69 "Bob the cube is broken"
The latest area update broke everyone's favorite little gelatinous cube. He no longer eats stuff. =(

[2014-07-30 03:32] AgonyAunt opened #70 "Increase stack size for throwing weapons"
Because 50 just get burned through too quickly.

Possibly allow stacks to be much bigger.

[2014-07-30 03:51] AgonyAunt opened #71 "PC Tools with certain races"
Lacking details at the moment, but looks like using certain PC Tools could cause irreversible crashes with certain races.

Case in point Myconid.

Still trying to get more details.

[2014-07-30 04:05] Tamamo-no-Mae commented on #71
What does 'irreversible crash' mean? Will continually crash if trying to log onto that character again? Well, either way, I'll make a test myconid (or five) and spam PC tools options and tell you which ones, if any, trigger crashing.

Edit: I tried just about every conceivable option with the PC tools, but no problems. Must be something else to it... I'll wait until we get more info on this.

[2014-07-30 04:07] Tamamo-no-Mae commented on #70
I don't see much of a reason why not. All having ammunition split into small stacks does is force people to fill up chunks of their inventory if they're ranged, or get a bag and only have a few at a time. 50s instead of 99s for thrown weapons is even worse.

[2014-07-30 12:31] AgonyAunt commented on #71
Yes, i think it might be appearance changer. What happened with the Beholder is wearing any armour other than the ones provided by the special shop in the OOC room would cause a client crash (server would remain).

Anyway, their character was fine in the end, so not sure what was happening.

Thanks for the testing.

Still waiting for more info from the player.

[2014-07-30 12:32] AgonyAunt commented on #71
No longer urgent as obviously not as bad as first though.

[2014-07-30 12:33] AgonyAunt commented on #70
Its also worse for performance.  A single stack of arrows of size 100000 takes the same memory as a stack of arrows of size 1, but two stacks take twice the memory. Granted, its tiny, but when you have lots of and lots of them, then it starts to add up.

[2014-07-30 18:10] AgonyAunt opened #72 "Myconid Spore VFX not happening"
When a myconid uses its spore ability the VFX (cloud of dust like thing) does not appear.

[2014-07-30 18:11] AgonyAunt commented on #71
Apparently it was the mandolin VFX that caused the crash.

[2014-07-31 18:08] AgonyAunt opened #73 "Widget to allow DMs to delay reset"
We already have a widget for DMs to see how long before next natural reset.  Add to this the ability to delay reset by 2 hours per use, 3 uses, up to 6 hours max. Give feedback on how many times it has been done so if more than one DM is using the widget others know it has been done.

This will help if DMs plan an event and notice there is going to be a reset at around the time of the event.

[2014-08-01 02:41] Tamamo-no-Mae opened #74 "Possible shapeshifting appearance problem solution"
I understand this would take a very large amount of effort, but I have to wonder if it would be possible.

Would it be at all a viable solution to create an item a PC could use on a creature to store the appearance of the target, and then later, use to temporarily change their appearance into what is stored? Even better if they can store multiple--say, give three slots for it that can be named som

[2014-08-01 03:12] Tamamo-no-Mae commented on #61
Alright, let's see...
Will save without Cowl of Warding vs. Horned Devil Elite fear effect: +26
Will save with Cowl vs. fear effect: +26
Will save without Cowl vs. Hold Monster: +30
Will save with Cowl vs. Hold Monster: +30

I'm going to go ahead and say it's the Cowl's problem. The Horned Devil Elite's fear effect is definitely tagged as mind-affecting.

[2014-08-01 05:03] AgonyAunt opened #75 "Level 10 Blackguards to get Epic Fiendish Servant"
Incentive to take 5 levels of BG? Not too much more powerful than the regular one though so as not to unbalance. Keep in mind BGs can get Divine Might and more.

Anyway, from Phantom Hermit:

New feat idea:

Requirements: 10 levels blackguard, epic levels

Summon an Epic Vrock for 24 hours.

as per

http://nwn.wikia.com/wiki/Epic_fiendish_servant

Dunno if it could be coded as a pet that raised in

[2014-08-01 05:04] AgonyAunt opened #76 "Bazaar missing trashcans"
Because they were forgotten about.

[2014-08-02 21:24] Tamamo-no-Mae opened #77 "Succubi start with Scent instead of DR 10/Cold Iron"
In race_feat_succubus.2da, line 1 is
1 drci10 2178 (FEAT_SCENT)
when it should be
1 drci10 2290 (FEAT_DR_CI10)

[2014-08-04 02:18] Tamamo-no-Mae opened #78 "Dragons & immunity to paralysis"
"Immunities (Ex): All dragons have immunity to sleep and paralysis effects." - 3.5 SRD
Especially considering Dragon Disciples get this at 10th level, are dragons planned to get this immunity too?

[2014-08-04 14:01] miriamchaturvedi commented on #74
I saw this done in NWN1, but several of the necessary functions around getting the head, hair, skin tone, etc. are now missing in NWN2. Only the base appearance type is accessible, which is useless for customizeable races. Maybe it could be done by hacking into the appearance changer code and re-purposing some of it, but such a solution would not be ideal.

[2014-08-04 14:07] miriamchaturvedi opened #79 "Chairs don't work in RP Houses"
Someone brought up that walkable beds and useable chairs would be nice in the open houses.

[2014-08-05 03:38] Tamamo-no-Mae opened #80 "Add glove bonuses to creature weapons"
Would it be possible to have gloves/bracers/whatever run a script on equipping that checks for enhancement/attack/damage bonuses on the glove, and if so, checking for creature weapons equipped... and if so, adding a temporary, undispellable bonus to the creature weapon to mimic the gloves? Upon unequip, just repeat the same thing, except if creature weapons are equipped, remove the bonuses from th

[2014-08-05 04:18] Tamamo-no-Mae opened #81 "Pseudonatural template"
No, wait! Don't leave! I meant the Lords of Madness one!

Ahem.
Especially given the Far Realms business around now, what about making a pseudonatural creature race option? Or half-farspawn. The alternate form appearance could be made from a slightly modified Evard's Black Tentacles VFX. The rest of the stats aren't difficult to get, to my knowledge. Maybe use Aberration for the racial type here,

[2014-08-08 09:14] Tamamo-no-Mae opened #82 "Plant wildshapes use myconid racial type"
This is a bit of a problem, because it also applies the myconid's racial ability adjustments.

[2014-08-11 08:31] Tamamo-no-Mae opened #83 "Pale master summons as companions"
As it is now, Pale Master is pretty terrible. What about making their undead summon into the animal companion/familiar slot? Would be a good way to give them an ability related to necromantic prowess (especially if Create Greater Undead's duration is increased).

[2014-08-13 15:00] Tamamo-no-Mae opened #84 "Grafts"
They just seem like an interesting and very fitting thing to implement for Sigil. And would make more sense than tattoos.

[2014-08-15 15:40] AgonyAunt opened #85 "Make SIGIS announcer speech be properly flagged as NPC speech."
Not 100% this is possible with speak strings, but will take a look at it.

[2014-08-15 15:51] AgonyAunt commented on #84
Grafts though would really require a model to display.  Tattoos can be covered up... how you going to hide that extra arm?

[2014-08-15 15:52] AgonyAunt commented on #81
Nah, the Far Realm is overused as it is. Its meant to be something out there, not confirmed, on the edge of everything.  Its meant to be a mystery.  Making a mechanical representation of it is going to far.  And besides, plenty of other races out there that could be added well before something like this.

[2014-08-15 15:52] #81 closed, assigned to nobody

[2014-08-15 15:54] AgonyAunt commented on #83
I'd say this is something that would be done as part of a possible future improved familiar update where pale masters could chose to have an undead familiar.

So ill close this and add a note to issue #66

[2014-08-15 15:54] #83 closed, assigned to nobody

[2014-08-15 15:55] AgonyAunt commented on #66
Suggestion from @Tamamo-no-Mae that Pale Masters could get an undead companion familiar. Fits with this.

[2014-08-15 15:58] AgonyAunt commented on #82
Are you certain, i think what you are seeing is what is in base game. Plant Wildshapes should have plant racial type of course and get the immunities. This is why Plant Wildshape is often considered superior to other forms, just because of this.  They shouldn't get the myconids ability adjustments applied, although they may be the same/similiar.

Compare polymorph.2da, look at the entry for the pl

[2014-08-15 15:59] AgonyAunt commented on #82
In fact, i'm quite intimate with the wildshape/polymorph functions scripts. What you are suggesting shouldn't even be possible from a code perspective.

[2014-08-15 16:04] AgonyAunt commented on #80
Yes, but don't like the solution from a technical perspective. Already added similar code for the Sacred Fist code of conduct fix and also for the No Manual Dexterity feat.  Those are bad as it is because those checks are run every time any PC or NPC equips an item (including items created on spawn)... hate to add more to the script without good reason.  In this case, the only way to add the bonus

[2014-08-15 16:04] #80 closed, assigned to nobody

[2014-08-15 16:10] AgonyAunt commented on #74
It might be possible, but it would be quite flakey and would require a character to relog every time they changed their appearance. And there could be lots of side issues with potential of base character appearance becoming lost due to server crashes/lag/etc.

What is possible (and its something i had in mind for creating a Shifter/Master of Many Forms class) is simply copying the appearance of mo

[2014-08-15 16:10] #74 closed, assigned to nobody

[2014-08-15 16:16] AgonyAunt commented on #78
I think not. IIRC this is because the RDD bonus feat comes as a single feat that covers all immunities (the Half-Dragon feat).

@Tamamo-no-Mae - I think i looked at this and found no way to easily implement immunity to paralysis via code as a single effect without making them immune to all hold type effects in the process. This would mean making them immune to the bigby spells, entanglement, and o

[2014-08-15 16:17] AgonyAunt commented on #77
Thanks. Ill take this one then.

[2014-08-16 13:55] ghost commented on #78
RDD gets it from FEAT_DRAGON_IMMUNE_PARALYSIS 963 surly the fire immunity comes from FEAT_DRAGON_IMMUNE_FIRE 964 ?

[2014-08-16 14:01] Tamamo-no-Mae commented on #84
I was meaning the graft items from various books. Many of them don't have an external appearance.

Just, you know, no silthilar grafts. Those things are OP.

[2014-08-16 14:14] Tamamo-no-Mae commented on #82
"shouldn't even be possible from a code perspective"
Never underestimate Obsidian!

So it's set to use Plant as the racial type, but the racial subtype is Myconid for some reason. Myconid appears as the race on the character sheet. Tested with a wildshaping Nymph, no gear or spell effects: shifting into a plant reduced INT by 6 (Nymph: +6 / Myconid: +0), reduced WIS by 2 (Nymph: +6 / Myconid: +4),

[2014-08-16 17:12] AgonyAunt opened #86 "Possible issues with Werewolf forms"
From discussions with Juurane.

He noticed a few issues some which are kind of known/expected, but he expanded on it in a follow up with some strange things he has noticed.

[QUOTE]Hey,

Yeah, I will admit that if I had anything specific to tell, other than what I already told, about what was going on it would probably be of greater use, so I'll try to put it in bullet-points as short as I can, fr

[2014-08-16 17:14] AgonyAunt commented on #82
Totally bizarre... shouldn't be happening.  But ill look into it.

[2014-08-16 17:14] AgonyAunt commented on #84
Right... well, its something to consider, but low priority.

[2014-08-16 17:15] AgonyAunt commented on #78
Ah, could be. Ill have to check it out.

[2014-08-16 23:12] ghost commented on #8
I've done this other than the tga file for the new feat. Is there somewhere you use as a source for these?

What is the policy with regards to feat.2da/spells.2da/scod.tlk entries as I assume there may be multiple people working on this? is there somewhere the most recent version lives?

[2014-08-17 04:13] AgonyAunt commented on #8
@lukehall - As far as i know, nobody is modifying any of those files at the moment, but Xndar has some rows reserved. I've just added you to the builders group.  You can see which rows they have reserved here: http://z13.invisionfree.com/nwn2planescape/index.php?showtopic=9081&view=findpost&p=22676588

Use your own copies of 2das, tlk from your my documents\neverwinter nights 2 folders. I usually

[2014-08-17 04:32] AgonyAunt opened #87 "Try again getting creature weapons to work with unarmed spec feats"
Set in baseitems.2da appropriate feats and test. If it works, remove CW feats as selectable from feat.2da.

Will have to offer feat swap outs to any players who took CW feats.

[2014-08-17 16:25] ghost commented on #8
Completed and added to dropbox

[2014-08-17 16:40] ghost commented on #24
I could have a look at this, checking the wiki entry on appearance.2da there are some interesting entries:

PERSPACE -  How much space they give something else, in meters, diameter from model base
CREPERSPACE - How much other things give it, in meters, diameter from model base
HITDIST -   Preferred distance for attackers to hit the creature, in meters from model base
PREFATCKDIST - Preferred attac

[2014-08-17 20:07] AgonyAunt commented on #24
Assigned to you then, got for it ;)

I already tweaked one of these settings and had no further reports of problems.  But feel free to test it with current settings and see if it works better if you change things further.

[2014-08-17 20:09] AgonyAunt commented on #24
Also if tweaking the Ents to compare with Dragons, remember to also then see how this affects regular sized races like humans.  Do some running away from the ents, see what range they can hit you from for example.

[2014-08-17 20:29] ghost commented on #24
This was caused by the dragon's PERSPACE value being set too high, reducing it to 0.4 fixes the issue. I have made that change and a couple of others in appearance.2da that I think would be worth considering.

In adition to this I would recommend setting the  CREPSPACE to either 1 (down from 1.5) or more preferably 0.8. This determines how close the model is allowed to get to another without close

[2014-08-18 15:36] ghost commented on #29
Did you have any ideas on what they should scale up to?

Assuming this is a low priority thing I can have a play around with scripting.

[2014-08-18 19:37] ghost commented on #24
Apparently this was also a problem for Blue dragons. should I post a thread on the forums to see if any of the others have such issues, or does that reveal a possible exploit?

[2014-08-18 19:54] AgonyAunt commented on #29
The problem is, each race has different weapons, and not all should scale in damage. For example, the Wraith certainly shouldn't get additional damage, but should increase in DC for their drain effect.

This is why its all a rather tricky subject.  Add onto that it requires either making a series of creature templates for each creature, some of them having multiple weapons, or messing around with

[2014-08-18 19:56] AgonyAunt commented on #24
No worries about exploit, its not a major issue.  Feel free to ask players though if they have noticed any similar problems with other races.

[2014-08-18 21:14] ghost commented on #29
Ah, I was thinking along the creature weapon itself being replaced every  5 levels or so with the change being linearly spaced out between starting ECL and 30 being triggered in the same manner as your post level up XP management scrip (seems to be something the cleans excess XP that would otherwise be carried over after level up, I've no idea what its actually called)

I don't know if that is a b

[2014-08-19 03:08] AgonyAunt commented on #29
Yes, the ideal variant would be to increase the creature weapons themselves, but then i'd say you're going to have to create a series of create weapons for every race that has them.  A major pain.

[2014-08-19 09:17] AgonyAunt opened #88 "Fix min XP from kills to be equal to monster CR"
Just to stop annoying <10 XP when killing epic monsters in Carceri for example.

[2014-08-20 04:06] AgonyAunt opened #89 "If client crash Henchmen cannot be got back"
So if you have a henchman and your client crashes, when you relog, the henchman remains and is not commandable.

At least for faction henchmen there is a convo attached so can be edited to check for owner and and either reassociate or despawn.

For others, perhaps something via the NPC remote?

[2014-08-20 06:17] AgonyAunt commented on #79
Mimi supplied fix.

[2014-08-20 06:17] #79 closed, assigned to Mimi-Techmouse

[2014-08-20 06:17] AgonyAunt commented on #76
Mimi supplied fix.

[2014-08-20 06:17] #76 closed, assigned to Mimi-Techmouse

[2014-08-20 06:18] AgonyAunt commented on #69
Mimi supplied fix.

[2014-08-20 06:18] #69 closed, assigned to Mimi-Techmouse

[2014-08-20 06:20] AgonyAunt commented on #5
Ceremorph provided a new version. Ideally ultimately should have a total rework, but closing this issue for now.

[2014-08-20 06:20] #5 closed, assigned to nobody

[2014-08-20 06:21] AgonyAunt commented on #6
Done

[2014-08-20 06:21] #6 closed, assigned to Mimi-Techmouse

[2014-08-20 06:44] AgonyAunt commented on #89
Forgot, functionality to get back already exists on faction badge.

[2014-08-20 06:44] #89 closed, assigned to AgonyAunt

[2014-08-20 07:00] AgonyAunt commented on #88
Decided against change after discussions on DM forums.

[2014-08-20 07:00] #88 closed, assigned to AgonyAunt

[2014-08-20 07:07] AgonyAunt commented on #86
Looked at feat and spell 2das. There is no hostile flag set in either, both are non-hostile. There is no SR check in the script.

Therefore problem must be something different.  Needs further testing to narrow down the cause.

[2014-08-20 07:15] AgonyAunt commented on #85
Can't make it a quiet convo so instead just made it half as chatty.

[2014-08-20 07:15] #85 closed, assigned to AgonyAunt

[2014-08-20 07:26] AgonyAunt commented on #82
Ah ha... i think i understand what is going on, and this also would have affected Dragon Wildshape if anyone had noticed it, and Magical Beast as well. Basically when you polymorph it looks like indeed it can also take on a sub-type for properties.  This is based off the DefaultSubType column of RacialTypes.2da.  For Dragons, Plants, and Magical Beasts i had changed these values to a selected play

[2014-08-20 07:26] #82 closed, assigned to AgonyAunt

[2014-08-20 07:32] AgonyAunt commented on #78
Silly me, there was a racial immunity to paralysis feat available anyway and already granted to half-dragons.  Fixed now.

[2014-08-20 07:32] #78 closed, assigned to nobody

[2014-08-20 07:35] AgonyAunt commented on #77
Fixed

[2014-08-20 07:35] #77 closed, assigned to AgonyAunt

[2014-08-20 07:46] AgonyAunt commented on #72
Fixed. Had incorrectly used EffectVisualEffect instead of EffectAreaOfEffect

[2014-08-20 07:46] #72 closed, assigned to nobody

[2014-08-20 07:46] AgonyAunt commented on #71
No further reports, closing for now.

[2014-08-20 07:46] #71 closed, assigned to AgonyAunt

[2014-08-20 07:49] AgonyAunt commented on #70
Increased max stack size to 500. Care should be taken now when creating new item templates for throwing weapons as they will default to 500 and therefore should be manually adjusted downwards. Existing templates should not be affected _crosses fingers_

[2014-08-20 07:49] #70 closed, assigned to AgonyAunt

[2014-08-20 07:54] AgonyAunt commented on #68
Same problem as issue #82 - DefaultSubRace column was set to a playable race instead of Outsider sub-race. Changed on all other races now.

[2014-08-20 07:54] #68 closed, assigned to nobody

[2014-08-20 08:02] AgonyAunt commented on #63
Changed to max length of 64 characters and can use special characters. Hope people don't go too silly with it.

[2014-08-20 08:02] #63 closed, assigned to nobody

[2014-08-20 08:31] AgonyAunt commented on #55
From the NWN1 wiki: Turn resistance applies only to non-player characters as neither the item property nor the effect affects player characters. If a player character has taken on an outsider race (e.g. outsider shape), the spell resistance will still emulate turn resistance.

So instead, this tattoo needs changing to have a scripted effect on it that uses EffectTurnResistanceIncrease

Problem is,

[2014-08-20 08:32] AgonyAunt commented on #51
Letting this issue go, its too minor to bother with.

[2014-08-20 08:32] #51 closed, assigned to AgonyAunt

[2014-08-20 08:36] AgonyAunt commented on #50
Changed

[2014-08-20 08:36] #50 closed, assigned to AgonyAunt

[2014-08-20 09:07] AgonyAunt commented on #86
Merging issue #48 with this to look at same time. 48 refers to incorrect DR on Beast form.  Changed description on Beast form for the moment to remove reference to DR10/AS.  Will consider further when dealing with this issue.

[2014-08-20 09:07] AgonyAunt commented on #48
Just changed description for the moment on Beast form, as there are some tricky aspects to applying DR on existing DR the race gets.

Merging with issue #86

[2014-08-20 09:07] #48 closed, assigned to AgonyAunt

[2014-08-20 09:18] AgonyAunt commented on #54
Changed the phylactery so once per day they can activate it to get a full heal on death.  Players will need a full rebuild though to get the modified version or else it needs to be swapped out by a DM.

[2014-08-20 09:18] #54 closed, assigned to nobody

[2014-08-20 11:29] AgonyAunt commented on #8
Thanks, i actually missed this notification otherwise i'd have got it in today. Sorry about that.

In future please make scripts or anything else that goes into the build module as an ERF.  Ill deal with it this time.  Also note here which tlk/2da rows you have reserved, can save me hunting it down on forums.

Ill reopen the issue for the moment until i get it added to the main module.

[2014-08-20 11:47] AgonyAunt commented on #61
Right, so some sort of problem with the item property in general then it looks like.  not sure we can do anything about that except change the item to do something else.

[2014-08-20 13:05] ghost commented on #8
Sorry about that

[2014-08-20 15:15] AgonyAunt commented on #8
No worries. Using GitHub as the tracking tool is still new, it will take a little while to make things work smoothly between contributors.

[2014-08-21 03:20] AgonyAunt commented on #52
Never got chance to look at this, so now Xndar is back, they can try and figure it out.

[2014-08-21 03:32] AgonyAunt opened #90 "Make area transitions with convos 1 liners"
eg: Abyss, Minaurous, and lots of other places.

With a 1 line convo no dialog box will appear.

[2014-08-21 04:52] AgonyAunt commented on #8
@lukehall - hot tip by the way. When you edit a 2da, then use something that allows you to save the 2da with spaces converted to tabs or so it just uses single spaces. I use Excel for editing 2das.

This way for example, spells.2da is 670kb instead of 2.1Mb ;)

[2014-08-21 04:59] AgonyAunt commented on #8
@lukehall - oh dear, sorry, got to bounce this back to you.  Check your entry for the feat is spells.2da.  Looks like you copied in the line from feat.2da rather than the spell entry.

I could fix this, just copy an existing feat entry from spells.2da and change the references and stuff, but its a good learning experience for you ;)

Also, the 2das themselves, they are incorrectly formatted. There

[2014-08-21 09:04] ghost commented on #8
Sorry about that, looks like i screwed up when I moved the entries and I was using the toolset to edit the 2das. I have redone them from scratch using libreoffice calc. I also created and erf of the script.

2373 in feat.2da
1381 in spells.2da
1701 and 1702 in SCOD.tlk

Assuming the wiki has the correct stats for trap damage It has been tested again and confirmed working.

[2014-08-21 13:40] AgonyAunt commented on #8
Oh right.. .yeah, toolset is terribad for editing 2das.

Erm, what does trap damage have to do with anything?

[2014-08-21 13:47] ghost commented on #8
I used them to test the increased damage taken from both fire and acid. I could not find a command to infict damage to confirm this with so had to resort to the low tech solution of filling the OOC room with minor acid and fire traps and trigger them to see if I could get a dmage greater than 2d8 for acid and 5d6 for fire IIRC.

[2014-08-21 18:36] AgonyAunt commented on #8
Oh, nice idea.

[2014-08-21 18:36] AgonyAunt commented on #8
There are ways to script it to happen though, or give a monster a flaming weapon for example ;)

[2014-08-21 19:49] AgonyAunt opened #91 "Torc of Celestial Glory set bonus not working"
The set bonus doesn't activate when you have the Torc, and the Platinum and Silver rings. I had the old bugged version with the Good Domain Powers feat which does nothing, and had it swapped out for the fixed version that gives +6 save vs fear, but even with that one the set never activated, and swapping out a ring just turned the Torc back into the version with the Good Domain Power feat.

[2014-08-21 19:49] AgonyAunt commented on #91
One for Cere to deal with.

[2014-08-22 01:07] Ceremorph commented on #91
Okay, I've set up an account. No idea how this works or how to assign myself something...

[2014-08-22 03:36] Ceremorph commented on #75
One of the biggest problems with blackguards in NWN2 is lacking the spell progression that the PnP version has, while most of its features past L3 really don't fit the levels you're actually gaining them at (I mean seriously contagion?). Might be cool to simply let the fiend summon progress to better fiends and/or times per day with levels, maxing out  at L10.

[2014-08-22 05:08] AgonyAunt opened #92 "Make Paladin/Rangers full caster"
As it says.

[2014-08-22 08:06] AgonyAunt commented on #92
Note: Granting level 1 spellcasting at level 1 means some spells have zero duration. Would require editing of spell scripts.
Problem with this relates to fixing caster level anyway, as you need to check for caster level and boost it.
Also need to  get last caster class, to check it is being cast by Paladin or Ranger in order to only apply caster level changes if necessary.

Involved editing roughl

[2014-08-22 08:07] AgonyAunt commented on #75
Yes, no problem with this. Possibly make the summon alignment based as well if we don't have that already. Never played a BG on our server.

[2014-08-22 09:04] AgonyAunt commented on #92
Ah ha! You can only ever get level 2 spells at character level 2, level 3 at 3, etc... interesting to know.

[2014-08-22 11:36] AgonyAunt commented on #92
Function to be called from all relevant spells wherever GetCasterLevel is currently used.

[code]

[2014-08-22 11:47] AgonyAunt commented on #92
The following scripts need editing:

NW_S0_Aid
NW_S0_Barkskin
NW_S0_BearEndur
NW_S0_Bless
NW_S0_BullStr
NW_S0_CatGrace
NW_S0_CurLgtW
NW_S0_CurModW
NW_S0_CurSerW
NW_S0_DeaWard
nw_s0_detctundd
NW_S0_DisMagic
NW_S0_EagleSpl
NW_S0_EndEle
NW_S0_Entangle
NW_S0_FreeMove
NW_S0_HoldAnim
NW_S0_InvPurge
nw_s0_jagtooth
nw_s0_lowltvisn
NW_S0_LsRestor
NW_S0_OwlWis
NW_S0_PolySelf
NW_S0_Prayer
NW_S0_PrChaos
NW_S0

[2014-08-22 15:14] Xndar commented on #38
Okay, I can edit the description for Baleful Geas to let folks know how it works. The STR penalty is an ability drain, and thus does not go away on its own without some curative magics...it also stacks. This was meant to somewhat simulate the fact that in PnP, eventually Baleful Geas kills the thrall. Will also look up the RP limitations of the control.

As for #2, I will up the str to 10, so ther

[2014-08-22 15:28] Xndar commented on #38
As for the Hellfire Warlocks, we should simply bar Undead or Constructs from taking the class. According to the rulebooks, if a creature is immune to ability drain, it CANNOT use Hellfire. Thus, how would a creature immune to ability drain be able to learn to master Hellfire enough to justify levels in the class?

[2014-08-22 16:00] Xndar commented on #75
I think it is currently alignment based, with LE getting an Erinyes, and everyone else getting a Succubus.

[2014-08-22 18:39] Xndar commented on #12
Okay, so I've written the script and feat. The only thing I can't figure out how to do is how to make it toggle on/off properly.

Turning the ability on is easy, but removing it is proving to be a pain in the ass. Using the feat a second time will remove the "aura", but not the vfx, even though I've specifically formulated the script to do just that.

[2014-08-23 04:21] AgonyAunt commented on #38
Ok, sounds good.

As for hellfire warlock and undead/constructs - fair point. Separate issue though.

[2014-08-23 04:27] AgonyAunt opened #93 "Creatures immune to CON drain should not be able to take levels of HW"
Its a fair point.

Question: Mechanically speaking, are they actually immune?

@Xndar - do you know? Its not something i actually tested or even thought of.

If its more of just a RP thing, then do we want to do this?

As for implementations - its not something we can do with class restrictions. It would have to be some code in ps_onlevelup which triggers after level up.  It then should check for

[2014-08-23 04:29] AgonyAunt commented on #93
Alternate solution. Don't block the level up, but just edit the scripts and send a message when they try and use the hellfire abilities.

Edit HW description to say they can take levels (ie: make a pact) but they get no benefits from doing so.

[2014-08-23 04:31] AgonyAunt commented on #12
Link the aura effect to the visual effect using EffectLinkEffects().  When you remove one, they both get removed.

[2014-08-23 04:43] Xndar commented on #12
They are both linked currently in that very manner, and they disapear together when one rests, but not when one casts the spell for the second time, which should dismiss any and all effects to prevent stacking/function as a toggle switch.

[2014-08-23 05:02] Xndar commented on #93
Okay, so I tested an undead Hellfire Warlock, and as it turns out, the way that Hellfire Blast currently is set up (which is the exact opposite of what the ability's text actually says) the con drain just ignores any and all immunities to con drain...so my Death Knight warlock was sapped con for each Hellfire Blast, just like a human would be.

Though it doesn't stack up with lore, I'm personally

[2014-08-23 05:59] AgonyAunt commented on #93
Right, so a TLK edit is required... and a 2da edit i guess, because we will need to change the STRREF in spells.2da

[2014-08-23 06:05] AgonyAunt commented on #12
Hmm.... so you are talking about casting it when it is already running and that is how the toggle works?

Can you post the script here?

To embed code, wrap the script in three of these ` (the backwards apostrophe, usually top left key on your keyboard below Esc) at the start and end of the script.

[2014-08-23 06:11] Xndar commented on #12
[code]

[2014-08-23 14:15] AgonyAunt commented on #12
Hmm.. how are you handling the toggle by the way? I presume no cooldown, just click to activate, click to deactivate?

But what i'm seeing here an instant shield effect is being applied (shouldn't this be a persistent or temporary depending on whether you want it a toggle or duration?).

Then you check for existing effect, and strip it if its there.

Then you apply the linked effect.

In other wor

[2014-08-23 15:43] AgonyAunt commented on #8
Hehe, you gave me an ERF this time, but had messed up. I guess you manually created the ERF and copied the file in... the NCS version, which is the compiled version and no good for importing.  You should have copied the NSS.

What you should do is export things from the toolset, its the safest way.

Anyway, don't worry about it, i simply created the script myself. ;)

Its a learning process gettin

[2014-08-23 15:49] AgonyAunt commented on #8
And you still had the wrong edit in spells.2da, you had copied the fire feat entry.... ill fix that as well...

[2014-08-23 15:55] Xndar commented on #12
I don't think the placing of that function matters, as the Apply Effect function occurs after the SpellEffect check, so it hasn't been applied yet, so it doesn't prevent the spell from being cast. As far as I have tested, the initial casting always works as it should, and removing the actual effects works as it should, but the RemoveSEF function doesn't seem to work.

[2014-08-23 17:57] ghost commented on #8
Sorry copied the wrong spells.2da file, correct one is there now. I'm not sure what I did with the ERF, I did it from the toolset again I'll review the process

[2014-08-23 18:06] ghost commented on #8
Oh right, I tried to add both but it said one was already present and I overwrote it with the other. I shall remember to put just the NSS in next time

[2014-08-23 20:51] AgonyAunt commented on #12
As i said, you shouldn't need the remove SEF function anyway, they are linked.  Its strange.

But give it a try anyway like i suggested. Failing that, ill give it a try myself.

[2014-08-23 20:52] AgonyAunt commented on #8
Just use export from within the toolset, its the most reliable way.... then next time ill teach you about sanitizing ERFs

[2014-08-24 05:29] AgonyAunt commented on #92
Done and ready for update.

[2014-08-24 05:29] #92 closed, assigned to AgonyAunt

[2014-08-24 05:29] AgonyAunt commented on #8
Ready for update

[2014-08-24 05:29] #8 closed, assigned to nobody

[2014-08-24 05:30] AgonyAunt commented on #12
Just a thought, make this whole thing time based instead of a toggle. Should simplify things.

Make it 1 round/level, instant feat (ie, no casting time), usable unlimited times/day.

[2014-08-24 21:22] Xndar commented on #12
Went with your second idea. Set the duration for 24 hours, instant feat, usable unlimited times/day, and arranged the script so that the effects do not stack.

Is there somewhere on this site that I can upload my work? I've edited the two warlock invocations, and given the Efreeti and Djinni their racial feats (properly scripted).

[2014-08-25 02:56] AgonyAunt commented on #12
Nah, we will keep dropbox as our place for code for the moment. I was looking at using GitHub for storing code and pull requests, but its a little complicated, requires everyone to have GitHub software installed, and probably not necessary.

[2014-08-25 02:56] AgonyAunt commented on #12
Just remember to include a readme saying which 2da/tlk lines have changed so i can merge easier.

[2014-08-25 03:00] Xndar commented on #12
Kay, I'll upload the stuff tomorrow. Are we going to move ahead and try to design the Gatecrasher, or is it still being thought about?

[2014-08-25 03:22] AgonyAunt opened #94 "Scry tool can't see people in Clerk's ward"
This could be to do with how Tags with hyphens can get stripped of them. I ran into this when working on astral boat and changes to mortuary respawn and had to hack around it.
Would need checking of course, could be a different issue.

[2014-08-25 03:29] AgonyAunt commented on #12
Gatecrasher will go ahead. Implementation might need some tweaking as we hit the feats and think about things more deeply. Especially the manipulate portal one.

[2014-08-25 05:05] Xndar commented on #12
I think I might have found an elegant solution to the manipulate portal ability...see my post in the General Builder's Forum

[2014-08-25 17:17] Xndar commented on #12
Per my PM, uploaded my 2da/tlks and scripts, with attendant readme.

[2014-08-25 18:49] AgonyAunt commented on #12
cool

Will add with next update.

[2014-08-25 18:50] AgonyAunt opened #95 "Campaign - change keep quest synced to party leader to false"
As it says.

[2014-08-27 04:36] miriamchaturvedi opened #96 "Re-implement The Sky Ring"
Sky Ring needs to be added to the Bazaar and Clerk's Ward.

[2014-08-27 19:47] Xndar commented on #90
I will double check this later on today, but when I was putting together the Find Portal function for the Gatecrasher, I noticed that when I reduced the conversation tree to a 1 liner with an action attached, that the action didn't fire correctly. When I added a second line, and attached that same action (no edits) to the second line, it worked perfectly.

In other words, I don't think it is possi

[2014-08-28 03:39] AgonyAunt commented on #90
Ah, ok. That's a shame. Then probably close this.

[2014-08-28 03:39] #90 closed, assigned to Xndar

[2014-08-28 07:39] AgonyAunt commented on #47
Decided against it as will be implementing the summoner PrC. All summon spells will be affected by this class who will get a feat providing longer summon durations.

[2014-08-28 07:39] #47 closed, assigned to AgonyAunt

[2014-08-28 07:42] AgonyAunt commented on #14
Xndar has provided an update for this. Will be in next update.

[2014-08-28 07:42] #14 closed, assigned to nobody

[2014-08-28 16:18] AgonyAunt commented on #52
@Xndar - i've not got the spawns working, but found at least one cause of it not working.

When you set the names of the spawns you used the full resref including the trailing number (in this case 1) in the trigger. As you also included a HIGH setting of 4 IIRC and a LOW setting of 1, if your (or any) test character had an ECL of > 1 then no spawns would occur.

There are two ways of dealing with

[2014-08-28 16:20] AgonyAunt commented on #52
Oh, and also, i found a non-combat modron that was spawned. I hope that is being spawned via on_enter script and not static, otherwise i will slap you upside the head! And ill be checking you attached the clean up script as well.

[2014-08-28 16:45] Xndar commented on #52
If you are referring to the guard modron that warns folks that the other areas are dangerous, no, it does not use an on_enter script, as I didn't know such was necessary. I will try messing with the LOW, HIGH stuff as you've mentioned. If that is the case, then this would explain why it wasn't firing.

[2014-08-29 06:06] AgonyAunt commented on #52
Spawns are working now.  That guard modron needs adding to an on_enter script and area needs clean up script attaching if not (ill check it out).

Ill get this done.

Also ill post on builders forums to discuss where we should have the portal.

[2014-08-29 10:33] AgonyAunt commented on #61
Just noticed, item description does not match, as it says it also acts like freedom of movement. I think its just best to pull this item from the game.

[2014-08-29 10:34] AgonyAunt commented on #59
And i think unless we are willing to take all races into account and make decisions on that, i think we can just close this.

[2014-08-29 10:34] #59 closed, assigned to nobody

[2014-08-29 10:41] AgonyAunt commented on #16
Over a month since last info. Closing. Can review if further reports occur.

[2014-08-29 10:42] AgonyAunt commented on #23
Attach Xndar's script for Succubii.

[2014-08-29 10:42] AgonyAunt commented on #24
@lukehall - any further update on this?

[2014-08-29 11:01] AgonyAunt commented on #56
Looked into this. Its definitely tricky as in the requirements there is no way we can match current requirements with Assassin.

Currently it checks for Arcane Spellcasting 3rd level.
![image](https://cloud.githubusercontent.com/assets/8188251/4089293/e1abcd12-2f69-11e4-8718-f98d08c09099.png)

That would have to removed and replaced with new lines that instead check for specific class levels, ie:

[2014-08-29 11:01] #56 closed, assigned to nobody

[2014-08-29 11:05] AgonyAunt commented on #55
As this requires a complicated solution, removing this tattoo from the conversation so can no longer be bought. Will add change to next update.

[2014-08-29 11:56] AgonyAunt commented on #94
Checked, nothing wrong with the script. I wonder if the players there were had opted out of scry, needs testing.

[2014-08-29 12:13] AgonyAunt commented on #94
Ah, problem with  apostrophe seems to be the problem and affects other areas as well. Applied encoding to the string, it should fix the problem.

[2014-08-29 12:17] AgonyAunt commented on #62
Decided against. Reason being someone could delete, and when they recreate they would be outside the OOC room, and therefore bypass the OOC room protections by creating an illegal character. This could lead to exploits. Even if unintentional it would lead to players complaining that their character which they used the day before couldn't get out of the OOC room.

[2014-08-29 12:17] #62 closed, assigned to AgonyAunt

[2014-08-29 12:42] ghost commented on #24
No one else has replied to the thread as far as I'm aware. PERSPACE 0.4 will fix this for both dragons if I remember correctly (at work so can't check now and will not be back until very late tonight), otherwise all is as per my previous comment on the 17th.

[2014-08-29 14:14] AgonyAunt commented on #24
Cool. Ok, i can make this change by myself then, no need to submit any files. Ill assign the issue to myself.

Thanks for your work on this.

[2014-08-30 17:00] AgonyAunt opened #97 "Bugbear Elites shouldn't have Turn Undead"
As per convo on forums, apparently they do have.

Mr_O provided fix.

[2014-08-30 17:00] AgonyAunt commented on #97
http://z13.invisionfree.com/nwn2planescape/index.php?showtopic=9568&view=findpost&p=22701509

[2014-08-30 17:15] AgonyAunt opened #98 "Feats to offset racial LA"
Basic idea is allow feats to be taken which can offset racial LA.

There is the level up script and the XP script, as well as perhaps some functions in ps_inc_functions that might need adjusting to take this into consideration (if editing ps_inc_functions, remember to do a full compile as it touches on many of our custom scripts).

Need to think about this.

[2014-08-31 11:32] tomekk666 opened #99 "Lich Philactery description"
It isn't stated in the character creation that its an extra life 1/day.

[2014-08-31 11:37] tomekk666 commented on #38
So, have any of my suggestions on the matter been considered?:p

[2014-08-31 13:34] AgonyAunt commented on #38
Xndar has several projects on at the moment, but i would prefer if he made these tweaks sooner rather than later.

[2014-08-31 15:39] Xndar commented on #38
Fixes to the issues raised by Taurus were included in my latest uploaded update. AA and I discussed Hellfire Warlock in another thread, and I've tested it with an Undead HW, and it still did the con damage regardless of the Deathknight's undead immunities.

As for the broader issues of DC improving feats etc, I know it can be done, as Fiendish and Fey power do so, but I would have to dig around a

[2014-08-31 20:42] AgonyAunt opened #100 "Create some sort of undead healing kit/potion"
Only usable on self, does negative damage.

[2014-09-01 11:15] AgonyAunt opened #101 "Fire and Acid weakness on trolls just too much - remove"
Considering their LA, and the amount of nasties flinging around fire, its a bit of a killer. Remove it.

[2014-09-01 11:54] tomekk666 commented on #100
I have some ideas for items such as this... Embalming Fluid, Rusty Surgeon Tools, Needle and Thread, Skull Charm, Rot Charm, Potion of Inflict X, Potion of Harm, etc.

[2014-09-01 11:57] AgonyAunt commented on #100
Nice ideas. Will keep it in mind.

[2014-09-01 11:58] AgonyAunt commented on #100
And actually, this ties in with issue #3 which is to add a death themed buffer to the mortuary. Could also make him her merchant selling some of these items.

[2014-09-01 11:59] AgonyAunt commented on #38
Excellent work Xndar.

[2014-09-01 12:10] tomekk666 commented on #100
That is much more useful, now that the Bazaar/Clerk's Ward has been needlessly overcomplicated into a maze.

[2014-09-01 12:34] tomekk666 commented on #98
I just had an idea...

Feat 1: Gain Caster levels equal to half your LA.;  Feat 2: Gain an AB boost equal to half your LA. Suddenly a Fire Giant can get comparable attack bonuses to an ECL 0 race and a djinni can get comparable CLs aswell.

[2014-09-01 12:40] AgonyAunt commented on #98
Caster level is very tricky to handle. AB boost is possible, but would contribute to cap.  Probably not best way to handle this.

[2014-09-01 13:13] AgonyAunt opened #102 "Ethereal tower strips innate abilities"
eg: Natural AC and i'd guess DR from the new feats as well as well as a whole range of other stuff.

Only fixable really if we can check whether an effect is extraordinary/supernatural before removing.

[2014-09-01 13:27] AgonyAunt opened #103 "Modify XP penalties for LA races"
Especially at low levels.  Discussion underway, will see how it goes.

[2014-09-01 13:53] tomekk666 commented on #101
+100% vulnerability to two COMMON (Fire is present in 75% of the areas / Brux's dryads already deal 30+ acid damage as a starting ability) elements is downright overkill, I'm sorry. Its on par with saying 'a vampire can only be killed with a stake in its heart, here's 100% piercing vulnerability'.

[2014-09-01 14:05] AgonyAunt commented on #101
@tomekk666 - What was the point of that comment? The GitHib repository is a place for fixing issues, not for writing snarky comments. That can be done on the forums.

[2014-09-01 18:36] AgonyAunt opened #104 "Check vigorous rage description"
Cant remember if i fixed it.

[2014-09-01 22:24] Ceremorph opened #105 "Server description"
I'm flagging you for this Agony, since you're the only one who can really do this.

Right now we're still showing the old "We use Autodownloader" text that we did when I started playing here. Since it shows up in a lot of places (like in the find a server section of the new vault), I think we need to update that to actually say something about the server.

[2014-09-02 03:01] AgonyAunt commented on #105
Agreed, i do plan on doing it... just never found where that text is... i think it could be in one of the ini files.

[2014-09-02 04:39] Xndar commented on #38
Nerull seems to be claiming that undead don't actually suffer con damage IG with Hellfire Warlocks. Not sure what the difference is between my test mod and the server, but just to cut out potential cheese, I will edit the HFW prereqs to preclude any undead or constructs from taking the class.

[2014-09-02 05:14] Xndar commented on #38
Have come up with a quick fix, have uploaded on dropbox...all it needs is a tlk edit explicitly stating that undead and constructs are barred from the class.

[2014-09-02 05:57] AgonyAunt opened #106 "Hellfire Warlock and CON damage"
Check the script. Make sure it can damage them.

[2014-09-02 06:33] AgonyAunt opened #107 "Hellfire resistance should stack with fire resistance according to description"
http://z13.invisionfree.com/nwn2planescape/index.php?showtopic=9599&view=findpost&p=22702435

[2014-09-02 07:55] AgonyAunt commented on #105
Change made in dev module.

[2014-09-02 07:59] AgonyAunt commented on #97
Change made in dev module

[2014-09-02 07:59] AgonyAunt commented on #95
Changed... fingers crossed for when i make the update.

[2014-09-02 08:05] AgonyAunt commented on #61
Changed item properties instead. Now gets SR12 and can cast Mind Blank 1/day and Lesser Mind Blank 3/day.

[2014-09-02 08:25] AgonyAunt commented on #102
Changed to permanent effect which should stop the AC being stripped.

[2014-09-02 10:36] AgonyAunt commented on #103
Made a change. While LA < HD, LA = HD - 1. This means you scale in LA as you gain levels up to the point where LA = HD.

[2014-09-02 11:05] AgonyAunt opened #108 "Flee the Scene via Warlock Buddy Fix"
Fixing

[2014-09-02 11:15] AgonyAunt commented on #106
Oops, issue #93 already covers this.

[2014-09-02 11:15] #106 closed, assigned to AgonyAunt

[2014-09-02 11:16] AgonyAunt commented on #93
Accidentally created #106 - issue raised again. People claiming problem is actual.

[2014-09-02 11:18] AgonyAunt commented on #107
Checked, its a harcoded feat. Nothing to do although a TLK edit should be made to note this ideally.

[2014-09-02 11:18] #107 closed, assigned to AgonyAunt

[2014-09-02 12:04] AgonyAunt commented on #93
Will replace the CON drain with a direct damage effect instead.

[2014-09-02 13:30] Xndar commented on #93
See my post via the Invocation issue. Have uploaded a hotfix which simply bans undead and constructs from taking the class. Is simpler, and in keeping with lore. Would require a .tlk entry stating that undead + constructs are banned, but for the moment it would prevent further exploits. If you'd rather just edit the script though, that's okay.

[2014-09-02 13:40] AgonyAunt commented on #38
Belay that fix. I've already done the direct damage changes.  Not sure how you prevent certain races from taking a class... i know you can make a certain class limited to a race or races... but, tell me you didn't edit the class by adding absoloutely every race we have except the undead and constructs and plants?

And besides, we already have HFW undead out there, so we would also have to flag the

[2014-09-02 13:44] AgonyAunt commented on #93
See my post there, we will go with my change. Mainly because i don't want the hassle of trying to round up existing characters that have abused this exploit.

[2014-09-02 13:47] AgonyAunt commented on #93
By the way, i changed it to 0.5 damage/level (which mimics loosing 1 CON in terms of HP) of unresistable fire damage (hope its unresistable anyway, the function EffectDamage implies it should work)

With Hellfire Shield thats 0.5 damage/level/target. Someone at level 20 surrounded by 3 or 4 enemies being attacked - that 30/40 points of damage per round.  Not something you can keep up for long with

[2014-09-03 06:26] #16 closed, assigned to nobody

[2014-09-03 06:27] AgonyAunt commented on #98
Closing as now made change to how XP calculations are made for LA races. I know its not the same as was required here, but i think we can let this issue rest for the moment, see how things go.

[2014-09-03 06:27] #98 closed, assigned to nobody

[2014-09-03 07:24] AgonyAunt commented on #12
@Xndar - i was impressed you chose the grey dwarf ability for enlarge person, because that doesn't check racial type.  Your reduce person script really doesn't need all the racial checks in it either, as its only usable by the race that gets it, so i will strip that code.

Sloppy coding here:

`effect eShield = eShield = EffectDamageShield(DURATION_TYPE_INSTANT, nDamage, DAMAGE_TYPE_FIRE);`

Ok, e

[2014-09-03 07:29] AgonyAunt commented on #12
Also, i've increased the damage. Its now 1d6 + 1 per Efreet level.

[2014-09-03 07:34] AgonyAunt commented on #12
And a minor point. When using a feat to call an existing spell, be aware that sometimes scripts might make a call to check for SpellFeatID. If so, it will incorrectly report 0 (because no feat assigned to the spell in spells.2da) or the feat it initially linked to, since you can't assign more than one feat here.

Not normally a problem.  Usually scripts use GetSpellID, but there can be occasions w

[2014-09-03 11:12] AgonyAunt opened #109 "Goblins should be small"
As per SRD, goblins are small

[2014-09-03 12:28] AgonyAunt commented on #109
If this change is made, then really should increase CR of under sigil goblins as they will be harder to hit and have higher AB

[2014-09-03 12:34] AgonyAunt commented on #109
And check their templates to make sure they are wielding appropriate weapons, including the vivisectionist

[2014-09-03 17:06] AgonyAunt opened #110 "Beholder Wounding eye description incorrect"
Correct damage is based on: (d8(iLevels)+iLevels)/2

[2014-09-03 18:04] AgonyAunt opened #111 "Modify Gauth abilities to match PnP"
Check PnP description of Gauth, see how it compared.

Also suggestion to change Charm effect to Dominate....

[2014-09-04 03:31] AgonyAunt commented on #111
Jiv provided the following:

Source (3.5 MM pg's 26-27) -

The Gauth, sometimes known as the lesser beholder, is a 4-foot wide orb dominated by a central eye. Six smaller eyes on stalks sprout from the top of its body. It is a rapacious and tyrannical creature that seeks to exact tribute from anything weaker than itself, and often attacks adventurers simply to acquire their wealth.

Eye Rays (Su):

[2014-09-04 03:34] AgonyAunt opened #112 "Erinyes stats - too high?"
Post from Cere

It looks like we did the Erinyes wrong. I set its stats to the MM version of the monster (str 21, dex 21, con 21, int 14, wis 18, cha 20), and that left me with 17 attribute points left to assign. What that tells me is that we gave them WAY too much of a bonus; back during the SRR days, when we approved an Erinyes character I gave them exactly those stats, so these new Erinyes wind

[2014-09-04 11:02] AgonyAunt commented on #112
Decided against.

[2014-09-04 11:02] #112 closed, assigned to AgonyAunt

[2014-09-04 12:56] JivX commented on #111
I think the focus/time cost to go though and change this from Beholder stalks to Gauth stalks is too high for too little a problem. If anything, just label the Gauth a full fledged Beholder for now and focus on other things? Maybe at some point someone might decide to break this down into two races with different +LA's?

How time consuming is it to make the switch from Charm to Dominate on the eye

[2014-09-04 13:09] JivX commented on #101
Just curious, is the vulnerability a binary thing? Like, can it only be 100% or 0%? If not, I could see tacking on a 25% to 30% for both elements if it would be a consideration for lowering their +LA by a point.

[2014-09-04 13:57] miriamchaturvedi commented on #96
Also make Bazaar non-PVP.

[2014-09-04 14:11] Xndar commented on #52
Just re-posting to make sure you see; I've uploaded an updated version of the Mechanus area which should be named properly and have the appropriate WP added in. For the Infinite Staircase portal-labeling tweak, do you want me to do that with my version and send it your way, or would you rather handle it?

[2014-09-04 18:01] AgonyAunt opened #113 "Beef up the really crap summons"
Until we get round to properly reviewing summons, there are some that are just not worth summoning.

Druid viper (a small tweak should do it) and stirge (ugh... ideally best replace completely), and lantern archon (which does nothing except get killed).

Can't thing of any others as bad as those three.

[2014-09-05 02:45] AgonyAunt commented on #52
Thanks.

[2014-09-05 02:45] AgonyAunt commented on #101
Because in the monster manual they have no weakness except it is the only thing that can kill them, but since we can't code for that anyway, it seems best just to completely ignore it all.

[2014-09-05 02:48] AgonyAunt commented on #111
Charm to dominate would be fairly simple and quick. A change to the scripted effect, and change the TLK entries for the race and feat.

Actually, since the eye stalks are controlled by a single script, its fairly simple to modify the lot. Although the Inflict Moderate Wounds on the Gauth is pretty weak and doesn't scale, so i would keep the scaling with that.

[2014-09-05 04:14] Ceremorph commented on #91
Well at least I have figured out what happenned. Someone updated the Torc's blueprint earlier this year with the change you mentioned, but didn't bother to go in and fix the script. I think.

[2014-09-05 04:36] Ceremorph commented on #91
Boom! Think I got it.

[2014-09-05 04:36] #91 closed, assigned to Ceremorph

[2014-09-05 05:14] AgonyAunt opened #114 "Ranger/Paladin spells - not full caster level?"
er_nano reports that the updated scripts are not giving full caster level.

[2014-09-05 12:05] AgonyAunt commented on #95
Excluded from current update as means messing with campaign files and didn't want to risk with such a big update.

[2014-09-05 12:07] AgonyAunt commented on #113
Done

[2014-09-05 12:07] #113 closed, assigned to AgonyAunt

[2014-09-05 12:07] AgonyAunt commented on #110
Done

[2014-09-05 12:07] #110 closed, assigned to nobody

[2014-09-05 12:08] AgonyAunt commented on #109
Goblins and Kobolds changed

[2014-09-05 12:08] #109 closed, assigned to AgonyAunt

[2014-09-05 12:09] AgonyAunt opened #115 "Goblin and Kobold playable races - descriptions need to state they are small"
Per title.

[2014-09-05 12:11] #108 closed, assigned to AgonyAunt

[2014-09-05 12:12] #105 closed, assigned to AgonyAunt

[2014-09-05 12:12] #104 closed, assigned to AgonyAunt

[2014-09-05 12:12] AgonyAunt commented on #104
Done

[2014-09-05 12:15] #103 closed, assigned to AgonyAunt

[2014-09-05 12:15] #102 closed, assigned to nobody

[2014-09-05 12:15] #101 closed, assigned to AgonyAunt

[2014-09-05 12:17] AgonyAunt commented on #99
Done

[2014-09-05 12:17] #99 closed, assigned to AgonyAunt

[2014-09-05 12:18] AgonyAunt commented on #97
Fixed

[2014-09-05 12:18] #94 closed, assigned to AgonyAunt

[2014-09-05 12:19] #93 closed, assigned to Xndar

[2014-09-05 12:20] #61 closed, assigned to nobody

[2014-09-05 12:21] #55 closed, assigned to nobody

[2014-09-05 12:21] #52 closed, assigned to AgonyAunt

[2014-09-05 12:22] #38 closed, assigned to Xndar

[2014-09-05 12:23] #24 closed, assigned to AgonyAunt

[2014-09-05 12:25] #12 closed, assigned to Xndar

[2014-09-05 12:28] #97 closed, assigned to AgonyAunt

[2014-09-05 12:29] AgonyAunt commented on #58
Fixed.

[2014-09-05 12:29] #58 closed, assigned to nobody

[2014-09-05 12:35] AgonyAunt opened #116 "Text for Half-Dragon mentions Gargoyle"
Under the LA part of the text.

[2014-09-05 12:43] AgonyAunt commented on #114
Jiv seems to report that all ok with Paladin durations.

[2014-09-05 13:25] AgonyAunt commented on #114
And some confusion over Ranger spells @JivX

[2014-09-06 10:23] AgonyAunt commented on #114
Fixed, will be in next update

[2014-09-06 10:23] AgonyAunt commented on #7
Added to Barracks merchant

[2014-09-06 10:32] AgonyAunt commented on #4
Transitions are fine, very minor issue. Closing for now and can be fixed if anyone really is bothered by this.

[2014-09-06 10:32] #4 closed, assigned to nobody

[2014-09-06 13:52] AgonyAunt commented on #115
Apparently they already do.

[2014-09-06 13:52] #115 closed, assigned to AgonyAunt

[2014-09-06 13:52] AgonyAunt commented on #116
Edit made on dev box.

[2014-09-06 14:01] AgonyAunt commented on #40
Checked it out. Convo is badly structured in general. There is an exploit open as it checks to see if you have enough gold and then offers the tattoos, upon which you could transfer gold before selecting the tattoo, and then select the tattoo and get for free. Ideally it should offer all tattoos, then when you select ask yes/no and if select yes, then check for gold and take and give tattoo... and

[2014-09-06 14:31] AgonyAunt commented on #43
Tested, looks good, adding.

[2014-09-06 15:03] AgonyAunt opened #117 "Improve Blazing and Frozen Rage"
Because not really worth taking as is.

[2014-09-06 15:31] AgonyAunt commented on #117
Damage shield effect also applies.

[2014-09-06 16:59] AgonyAunt commented on #100
In development

[2014-09-06 16:59] AgonyAunt commented on #3
In development

[2014-09-07 04:04] AgonyAunt opened #118 "Minor issues after last update"
Mechanus side portal has name MCollBall
Merkhant side portal does not offer convo (falls through checks) when don't have right portal key

[2014-09-07 04:19] #3 closed, assigned to nobody

[2014-09-07 04:19] #100 closed, assigned to AgonyAunt

[2014-09-07 04:19] #117 closed, assigned to AgonyAunt

[2014-09-07 04:19] #43 closed, assigned to nobody

[2014-09-07 04:20] #116 closed, assigned to AgonyAunt

[2014-09-07 04:20] #7 closed, assigned to nobody

[2014-09-07 04:23] #114 closed, assigned to nobody

[2014-09-07 11:37] AgonyAunt opened #119 "Turn Resistance Feat"
Since the item property on the tattoo doesn't work, an option would be to create some feats, like Turn Resistance +5, TR +10, TR +15, and make them general feats.

Then hook into the Turn script and check for those feats and adjust turn appropriately.

[2014-09-08 04:04] AgonyAunt commented on #118
Teleports don't port summons/henchmen
Large races don't always port - try moving destination WP a little further down.

[2014-09-09 03:32] AgonyAunt opened #120 "Vermin Lord in Brux is not area appropriate"
Tone it down to be powerful, but appropriately so.

[2014-09-09 05:48] AgonyAunt opened #121 "Gatecrasher DD descriptions out of alignment and Summon Dampening as well"

[2014-09-09 05:56] AgonyAunt opened #122 "Missing texture in infinite staircase"
http://s815.photobucket.com/user/Argonatus/media/Stuff/NWN2_SS_090914_064546_zps0f9c78ee.jpg.html

[2014-09-09 06:08] AgonyAunt opened #123 "Reminder: Weapon descriptions for piercing/slashing weapons."
Because longswords and most other slashing weapons are actually both piercing and slashing.

[2014-09-09 08:55] AgonyAunt commented on #121
Fxied

[2014-09-09 08:56] AgonyAunt commented on #120
After discussion on IRC, decided this is fine as is. Difficult, but only high level version is really hard, and that's by design.

[2014-09-09 08:56] #120 closed, assigned to AgonyAunt

[2014-09-09 18:58] miriamchaturvedi commented on #119
Couldn't you check for the item in inventory within the Turn script as well?

[2014-09-10 03:08] AgonyAunt commented on #119
Best to avoid inventory scans wherever possible, they are quite intensive and can fail due to inventory overload or TMI conditions.

[2014-09-10 03:12] AgonyAunt opened #124 "Giant weapons are too large"
Saw one in game for the first time.  Looks like i overdid it on the scaling. Tone it down a little.

[2014-09-10 05:44] AgonyAunt commented on #118
Dont what i can, moved the WP as was not on walkable mesh, explains problems with porting. Summons should go, as transition, but it may be that its a generic problem with area transitions in the same area, similiar to problems we have in Clangor and elsewhere. Perhaps should change it around to use a script based solution.
Convo fixed hopefully.

[2014-09-10 07:12] #118 closed, assigned to AgonyAunt

[2014-09-10 07:12] #121 closed, assigned to AgonyAunt

[2014-09-10 07:13] #122 closed, assigned to AgonyAunt

[2014-09-10 07:13] #96 closed, assigned to Mimi-Techmouse

[2014-09-10 07:13] #53 closed, assigned to Mimi-Techmouse

[2014-09-10 07:26] tomekk666 commented on #124
No, don't. >:-[

[2014-09-10 07:26] tomekk666 commented on #119
Ugh... no need to make undead feat deprived as well.

[2014-09-10 08:52] AgonyAunt opened #125 "Mortuary Buffer/Store"
Convo has lowercase I
Surgeon tools: keepthings (missing space).

[2014-09-10 12:13] AgonyAunt opened #126 "Naming of transitions in sigil "main""
The zone for Sigil Main has been split into the two sections of The Great Bazaar and the Clerks Ward, however all the transitions that lead into these areas were not renamed to reflect the split and transitions leading to both are all still named "To Sigil Main."

Understood that this is a low priority, but can they be renamed to reflect which of the two zones into which those transitions lead?

[2014-09-10 14:49] AgonyAunt commented on #124
A little. I promise, and just the clubs...

[2014-09-10 14:50] AgonyAunt commented on #119
No need to give them things for free either @tomekk666

[2014-09-10 15:42] AgonyAunt opened #127 "Exploit"
You know what... fix in place. Needs putting in main build module.

[2014-09-10 15:42] AgonyAunt opened #128 "WB + HB"
Exploit, fix.

[2014-09-11 10:48] AgonyAunt opened #129 "Player VFX creatures to use?"
As per discussion, perhaps with a small gold cost can open these up for use.

[2014-09-11 18:29] AgonyAunt opened #130 "Living Undeath from Mortuary Buffer - not working?"
Either caster level set too low, or something strange going on.

[2014-09-12 03:30] AgonyAunt opened #131 "Gatecrasher issues"
Find Portal could use a bit of a duration tweak, it failed to register me saying 'Yes' to it a few times before I got through.

Infinite Staircase is very, very cool, but the walkmesh is horrid (main tent and stairs being the primary culprits) + the two torches next to the hag have a missing texture error. <- no idea how you are going to fix this one, since on one box i see the textures and on ano

[2014-09-12 05:42] #127 closed, assigned to AgonyAunt

[2014-09-12 05:46] AgonyAunt commented on #124
Oh, apparently not possible. Oh well.

[2014-09-12 05:46] #124 closed, assigned to nobody

[2014-09-12 06:05] AgonyAunt commented on #130
I'm baboozled by this one. Need to get in game and check it out, perhaps run some diagnostics in test module after.

[2014-09-12 06:08] AgonyAunt commented on #125
Edited.

[2014-09-12 06:30] AgonyAunt commented on #128
Fix ready

[2014-09-12 06:32] AgonyAunt commented on #128
Although... will do damage every round it is applied not just if attack successful i guess. Lesson to be, don't keep Hellfire active while doing nothing with HBlow active.

[2014-09-12 07:34] AgonyAunt commented on #73
Widget and script made. Existing client leave and tell the time time scripts adjusted to work with delay counter.

[2014-09-12 07:48] AgonyAunt commented on #18
Set Items - a problem as they keep their tags. Could theoretically be used to cause set items to gain properties they shouldn't have while gaining set bonuses.  Solution, use SetTag on items with tags of ps_itemset to break their set abilities.

Put warning on convo so people cannot complain.

[2014-09-12 07:48] AgonyAunt commented on #18
In fact, this thing probably needs a EULA type disclaimer...

[2014-09-12 20:39] AgonyAunt commented on #18
Works except for if the item is cloth because its armour type zero which also represents fail. Need to tweak the check so that if its zero double check (or just change the check criteria).

[2014-09-13 03:44] AgonyAunt opened #132 "Add Maruts to the game"
http://neverwintervault.org/project/nwn2/model/marut-model

[2014-09-13 03:45] AgonyAunt opened #133 "Summon Dampening issue"
Just found a little bug with the Summon Spell Dampening power while fooling around in the OOC room:

I used the Dimension Door power to get away from a beast I'd dampened, and it was stuck that way, even though I has rested. I fixed that by re-activating dampening and moving close and then away from it on foot.

Edit: After a little more testing, it seems that anything that 'updates' the summons,

[2014-09-13 04:24] AgonyAunt commented on #132
@Xndar - gave it a test, looks like there is a problem with the helm texture. Have posted a message about it, see if there is a fix.

[2014-09-13 09:08] AgonyAunt opened #134 "More dwarven beards?"
Take a look: http://neverwintervault.org/project/nwn2/model/dwarven-beards

[2014-09-13 09:44] AgonyAunt commented on #18
Fixed and uploaded.

[2014-09-13 09:44] #18 closed, assigned to nobody

[2014-09-13 09:44] #73 closed, assigned to AgonyAunt

[2014-09-13 09:44] #128 closed, assigned to AgonyAunt

[2014-09-13 09:45] #125 closed, assigned to AgonyAunt

[2014-09-13 14:09] AgonyAunt commented on #130
Tested myself. Looks like the spell script refuses to fire. That's really confusing.

[2014-09-13 14:42] AgonyAunt commented on #130
Got it. Hotfix in place, will take effect next reset.

[2014-09-13 14:42] #130 closed, assigned to AgonyAunt

[2014-09-13 14:42] AgonyAunt commented on #130
Problem was spell script was set to only work on allies.

[2014-09-13 17:27] Xndar commented on #133
That is strange...the only thing I can think of is that DD is somehow not triggering the 'on-exit', even though the summons are technically exiting the aura. Maybe the phasing duration needs to be changed to 6 seconds, and the aura needs a heartbeat function to renew the phasing and check if the critter is in the area of effect?

[2014-09-13 22:29] Xndar commented on #133
Or, more simply, I could make it so that the aura interferes with dimensional travel...aka make it impossible to cast DDs while the spell is active.

[2014-09-14 05:15] AgonyAunt commented on #133
Could work, makes sense if the effect is disrupting summons.  Although its an edge situation anyway.

[2014-09-15 18:53] AgonyAunt commented on #132
Xndar reports that it works, just need to select the correct helm option... need to find which, but otherwise think we can close this.

[2014-09-15 18:53] #132 closed, assigned to AgonyAunt

[2014-09-17 03:17] AgonyAunt opened #135 "Beholder eye close armour - not correct"
Guess got values wrong.

[2014-09-18 14:29] miriamchaturvedi commented on #126
Oops, yup, its now on the list.

[2014-09-21 04:20] AgonyAunt opened #136 "Infinite Staircase - Ice portal"
Not a bug with the class really, but in the infinite staircase the portal with the big gear on top next to the stairs to the ice plane doesn't work. The dialog pops up asking if you want to enter and it's level range 2-6 but when you say yes nothing happens. Also I'm still missing textures on my end.

[2014-09-21 16:04] Xndar commented on #136
can you give me the tag of the Mechanus WP you used for the Sigil portal, so I can plug it into the convo?

[2014-09-21 17:06] AgonyAunt commented on #136
Look in the build module. Its there.

[2014-09-22 06:05] AgonyAunt opened #137 "Use SetTime() to sync module time with SQL time"
As per title, on module load.

[2014-09-22 15:38] Xndar opened #138 "Celestials and Petrification"
According to the MM and every other source I could find, almost all Celestial creatures are immune to petrification, which is currently not the case. The following current PC races would be effected by this, and should receive this immunity:

Hound Archon
Trumpet Archon
Ghaele
Bralani

[2014-09-22 17:54] AgonyAunt commented on #138
Ill take it myself if you want to focus on other stuff.

[2014-09-22 17:58] AgonyAunt opened #139 "Research IPRP tables to determine if sane pricing is possible"
As part of the economic overhaul one option is to zero the cost multiplers that exist on item properties in the 2das.

Is it possible to make these values work sanely?

From my limited testing i believe it is not possible, but i would be happy to proven wrong.

Main issue: When item properties get added, they seem to multiply together.

eg: Full Plate Base cost might be 1500.
Full Plate +5 might c

[2014-09-22 17:59] AgonyAunt commented on #139
@Ceremorph - is this something you could take a look at?

[2014-09-23 03:47] AgonyAunt opened #140 "New head pack - Cristel"
New heads to add.

https://www.dropbox.com/s/6swogu1i707y9qg/scod2_headswings.7z?dl=0

[2014-09-23 09:57] AgonyAunt opened #141 "Neerepha - Painting Placeables"
Take a look. See if can help understand why placeables are not showing in game, probably a placeables.2da issue.

http://www.4shared.com/rar/Fp3wc6gvce/override.html

[2014-09-23 09:58] AgonyAunt opened #142 "Serena - Player house"
https://www.dropbox.com/sh/imc9ik4ezlncpk8/AADn4QxM0n1zRNyIgkFt6H7Ha?dl=0

Hello,

Sending you the house module, as agreed! I uploaded the .erf file in a dropbox folder, here https://www.dropbox.com/sh/imc9ik4ezlncpk8/...IgkFt6H7Ha?dl=0 (and I really hope it is what you were looking for, it was the first time I used that procedure and I wouldn't be surprised if I did something wrong).
In the modul

[2014-09-23 17:43] AgonyAunt commented on #140
New URL: https://www.dropbox.com/s/36mtspfzbrq3di7/scod2_headswings%2009-23-2014.7z?dl=0

[2014-09-27 06:30] Ceremorph commented on #139
I apologize for the messiness of the following, but I'm writing this stream of consciousness as I delve.

You're totally missing the correct costs in your example. Yes, Full plate is 1500, but +5 Full Plate is 25,510 (enchant value of 24,010). Full Plate with resist fire 10/ runs 4562 (enchant value of 3062).

Now yes, here's where things get funky. Both on the same item  gives us 45,722... a cons

[2014-09-27 06:46] Ceremorph commented on #139
In the text file explaining itempropdef.pdf, there's the following bit of information.

"The actual calculation may or may not involve summing all the "cost" values of item properties, squaring this value, multiplying by 1000, adding this to the base value of the item, then squaring the sum of all the negative "cost" values, subtracting this from the positive/beneficial sum, then multiplying this

[2014-09-27 16:02] AgonyAunt commented on #139
Wow, thanks for the research Cere, its most useful.  Particularly love the comment from the PDF about "may or may not".... typical.

And yes, this is why i thought the best way to go many be to simply zero all those cost values and set item values manually. A lot of work for sure, but less of a pain than trying to find sane values for items.

[2014-09-27 16:04] AgonyAunt commented on #139
Any reason you reopened?

[2014-09-27 20:43] Ceremorph commented on #139
Figured you as the topic starter would want to close it yourself, particularly if you were going to put another comment here or ask a follow-up question.

Oh, and I did realize a possible secondary methodology of doing this. Right now, things are pretty much across the board so far as that cost number goes. I think one possible workaround, which would be easier than manually figuring the potential

[2014-09-27 21:21] tomekk666 commented on #57
Do starpact warlocks become an indescribable mass of tentacles?:p

[2014-09-28 05:18] AgonyAunt commented on #139
Thats an interesting suggestion. Will definitely keep it in mind.

[2014-09-28 05:18] #139 closed, assigned to Ceremorph

[2014-09-28 05:27] AgonyAunt opened #143 "Make DMFI chat window bigger"
So can type more text.

Also might be a good time to change it so that you can select from more than 9 languages.

[2014-09-29 03:47] AgonyAunt opened #144 "Beholder Charm eye - doesn't work"
Even if target fail save, still acts as though hostile.

[2014-09-29 11:06] AgonyAunt commented on #40
Closing this because its really minor and no interest in dealing with at this time.

[2014-09-29 11:37] AgonyAunt commented on #119
As a solution simply made PCs a bit harder to turn by taking into consideration LA.  Let's see how feedback goes with this change.

[2014-09-29 11:39] AgonyAunt commented on #144
Going to try this as a Dominate effect. Charm is sucky and largely broken anyway.

[2014-09-29 12:57] AgonyAunt commented on #138
Can't find an existing immunity to petrification feat. Will need to make one.

[2014-09-30 12:48] #140 closed, assigned to AgonyAunt

[2014-09-30 12:49] AgonyAunt commented on #134
Added

[2014-09-30 12:49] #134 closed, assigned to nobody

[2014-09-30 12:50] #136 closed, assigned to Xndar

[2014-09-30 12:50] #133 closed, assigned to Xndar

[2014-09-30 12:50] #131 closed, assigned to Xndar

[2014-09-30 12:51] #119 closed, assigned to nobody

[2014-09-30 12:52] #95 closed, assigned to AgonyAunt

[2014-09-30 12:52] #40 closed, assigned to nobody

[2014-09-30 12:53] #144 closed, assigned to AgonyAunt

[2014-09-30 12:53] #143 closed, assigned to nobody

[2014-09-30 12:53] #142 closed, assigned to AgonyAunt

[2014-09-30 18:31] AgonyAunt commented on #126
@Mimi-Techmouse  - maybe i missed it, did you make this change?  If not, assign the issue to me, its silly to ask you to make an updated area when its simpler for me to make the change on my dev box.

[2014-09-30 18:33] AgonyAunt commented on #87
Decided against because realized we also may have creature templates set to use creature weapon spec.  That would be a pain trying to figure out which.

[2014-09-30 18:33] #87 closed, assigned to AgonyAunt

[2014-09-30 18:34] AgonyAunt commented on #84
As nobody shown interest, closing.

[2014-09-30 18:34] #84 closed, assigned to nobody

[2014-10-01 02:59] miriamchaturvedi commented on #126
Uh, no, I don't think I've made this change yet. The issue is all yours.

[2014-10-01 03:01] miriamchaturvedi opened #145 "Plane of Fire Issues"
Current bugs / todo list:
- Ferry stops working after some random amount of time
- Slaves don't go away when you tell them to
- No environmental damage
- Get rid of debug text on leaving ferry

[2014-10-01 03:52] AgonyAunt commented on #145
Journal issue could be my fault with importing, but other quests are working...

[2014-10-01 05:58] AgonyAunt commented on #145
I've removed the fire opal from the foundry, so that's one less thing for you. ;)

[2014-10-01 06:06] AgonyAunt commented on #126
Editing now.

[2014-10-01 06:06] #126 closed, assigned to AgonyAunt

[2014-10-01 06:17] AgonyAunt commented on #145
About to move your stores to the store area (ps_store_area).

If you are making updates to those areas, delete the stores from them. If you need to edit the stores, use the new version of the area that will be in the next uploaded build module.

[2014-10-01 06:28] AgonyAunt opened #146 "Static NPCs in Salt areas"
On the ship and in Toil there are static NPCs.

Replace them with waypoints and edit on-enter scripts to place them.

Add on-exit script to all salt areas (bar_onareaexit).

[2014-10-01 08:13] AlanLane opened #147 "Limbo Crash"
Yesterday, the game crashed 3 times to all players (and in the same moment) during some fight in the stormy beach of the limbo.

Seems like that some memory error appear due to the many VFX.

The crash seems related to the spawn of monster near the cave waypoint.

[2014-10-01 10:12] AgonyAunt commented on #145
Looks like the journal entries not appearing is my fault. Another one you can wipe off your list. Its happening to all quests.

[2014-10-01 10:12] AgonyAunt commented on #147
Thanks for the info.

[2014-10-01 10:13] AgonyAunt commented on #147
@Mimi-Techmouse - can you look at this? Perhaps tone down the FX?

[2014-10-01 13:38] AgonyAunt opened #148 "New stores - fix"
Explout

[2014-10-01 18:31] AgonyAunt commented on #148
Fixed

[2014-10-01 18:31] #148 closed, assigned to AgonyAunt

[2014-10-01 19:30] AlanLane opened #149 "Increase size font of the UI."
Since nowaday, computer screen works at high resolution, would be nice to increase the size font of the UI of the chat dialog and the event dialog.

What do you think about it? Would increase the readability of the text.

Feel free to comment it.

If you agree, I can do the job.

[2014-10-02 03:33] AgonyAunt commented on #149
Its possible and perhaps a good idea.  Not too much though, some people may still run in lower resolutions.  And remember, its all widescreen these days, so bigger font means less height, which is not so much bigger than it used to be.  I mean, i'm sure some people still run at 1400x900, which vertically is not so different from 1024x768.

Anyway, if you think you can edit the XML, give it a try a

[2014-10-02 07:49] AgonyAunt commented on #65
Closing as nobody has shown an interest in this.

[2014-10-02 07:49] #65 closed, assigned to nobody

[2014-10-02 07:56] AgonyAunt commented on #29
Been thinking about this and think i have a good solution that does not require making complex 2das or heavy scripting investigating item properties.

Basic idea is thus:

Playable race gets their base creature weapon(s) with their tags/resrefs. Example: ps_wraith_claw
This is stored in the race 2da and easy to look up.

On level up (script) we try and create an object with the resref of ps_wraith

[2014-10-02 08:44] AlanLane commented on #149
I run the game at 1440x900 and found the text a bit little.

We could always start a pool on the board to see how many people run in low resolution. :)

I'll post some screen :)

[2014-10-02 10:58] AgonyAunt commented on #137
Nope, not going to change anything. Time announced by speaker is based off module time, so day/night cycle should match.  If not, no idea why.

[2014-10-02 10:58] #137 closed, assigned to AgonyAunt

[2014-10-02 12:03] AgonyAunt commented on #149
Good idea.

[2014-10-02 18:50] Xndar commented on #146
Will do this today

[2014-10-02 20:17] Xndar commented on #146
Uploaded the fixes, replace the areas as they should now have the appropriate WPs and on-enter/exit triggers in place.

[2014-10-02 20:18] Xndar commented on #146
Also be sure to replace Tarek with the new version, as it will otherwise not have the actual conversation applied as it should.

[2014-10-03 02:10] miriamchaturvedi commented on #147
Yup, will look into it. Was it a very large group of monsters spawning by the cave?

[2014-10-03 02:11] miriamchaturvedi commented on #145
Great, list edited accordingly.

[2014-10-03 03:21] AgonyAunt opened #150 "Ability to edit item descriptions"
As per title.

[2014-10-03 08:14] AgonyAunt opened #151 "Set OOC room placeables to fade"

[2014-10-03 09:33] AlanLane commented on #147
Yes. With 3 characters in the party and all set to Gatecrasher. But there is something strange with that spawn, since it's the one that crashes the game.

[2014-10-03 09:43] AgonyAunt commented on #146
ok, great

[2014-10-03 09:44] AgonyAunt commented on #147
So just this specific spawn.. interesting. Might be worth checking if there is a specific boss or monster that is a problem when spawned that doesn't appear elsewhere... or maybe the spawn point is in a non-walkable area...?

[2014-10-03 21:03] miriamchaturvedi commented on #147
Oh they're all in walkable areas, and there's nothing special about that one in particular. But its possible that with some of the larger slaad they're overflowing their space on gatecrasher so the spawn point will need tweaking.

[2014-10-05 04:44] AgonyAunt opened #152 "DM diagnonsis tool"
Improve. Remove size check. Allow it to list all problems instead of stopping at the first.

[2014-10-06 11:44] AgonyAunt opened #153 "Limbo boulder issue - walkmesh or trigger related?"
Rainbow Prism reports:

Entered the caves. Got stuck in one place when boulder bugged out and appeared on the place where my character stood. Sometimes the boulder do not offer check at all, as if the trigger is not there. Even when they previously activated.

[2014-10-06 15:34] miriamchaturvedi commented on #153
The script is supposed to check for PCs in the vicinity before spawning the boulder so it can move them out of the way or apply damage. Will look into it.

[2014-10-07 04:30] AgonyAunt opened #154 "Consider a more detailed scry option"
opt in/out and set which details to share.

[2014-10-07 19:56] AlanLane commented on #149
![screen](https://cloud.githubusercontent.com/assets/8768715/4549179/cd01605a-4e5b-11e4-9c79-d5a117cd7706.jpg)

This is the result, i've just increased the size of one point, and the readability is better. At least IMHO ^_^

[2014-10-07 20:01] AlanLane commented on #149
And i've noticed that the tweaks is working on SCoD too... Weird... i've supposed that UI override was blocked by the nohack script

[2014-10-08 03:08] AgonyAunt commented on #149
You can override stuff like GUI without issue. Hence the reason some people use VFX overrides.

[2014-10-08 18:24] AlanLane commented on #149
I use VFX overrides too. (With my enhanced/reduced version of spells effects).

I've heard that GUI ovverride can be used to set some macro in the game that would be like cheating... This is why i've thought that GUI Override was blocked :)

[2014-10-09 15:17] AgonyAunt commented on #149
Nah, appearance stuff is fine. Its GUI scripts that are protected. So you can't go and place a modified GUI that will give you a button to click that will give you more XP. The button will work, but no script will fire.

[2014-10-09 15:21] AlanLane commented on #149
lol, that sounds reasonable ^_^

anyway, what do you think about the increased font size?

[2014-10-09 17:08] AgonyAunt commented on #149
Looks good, feel free to upload the files to dropbox and make a post in the "What needs to be added to the module" sticky thread in the builders forum.

[2014-10-10 00:05] AlanLane commented on #149
Alright :+1:

[EDIT]
Done.

[2014-10-10 03:19] AgonyAunt commented on #149
Also post this here:

Oh... you mean you didn't change the actual GUI files, but the fontfamily one.

Erm, that could have an impact on a whole range of screens.

Can you just run some extra tests with it?  I'm thinking the Sigis parchment/new reading for one. And the card game for another. Just to make sure your increased fonts don't mess up those screens.

[2014-10-11 07:50] AgonyAunt commented on #135
Also check option for lizardfolk to get naked.

[2014-10-11 10:23] AgonyAunt commented on #154
Beta version on the server

[2014-10-12 18:43] AgonyAunt opened #155 "Elysium walkmesh issue"
http://z13.invisionfree.com/nwn2planescape/index.php?showtopic=9813&view=findpost&p=22718945

[2014-10-14 18:37] AlanLane commented on #149
Since this changing is allowed also by overriding it, I'm actually testing it.

I'm going to check SIGIS parchment and the card game asap.

[2014-10-15 00:17] AlanLane commented on #149
Sigis and cards are not affected by this modification.

The PC Tools seems to be glitched. Some button lacks of text, maybe because it's too big and it overflow outside of the button.

[2014-10-15 03:09] AgonyAunt commented on #149
Ah ha! Nice catch.

I presume you don't want to go editing tons of XML to rescale the whole PC Tools UI, so maybe you can edit just which font is being used for PC Tools UI.  You know how to do this?

[2014-10-15 05:22] AgonyAunt commented on #111
Side topic, while at it, consider increasing usable of Mindflayer abilities.

[2014-10-15 18:16] AlanLane commented on #149
Yep. I know it :+1:
I'll do some test with my fontfamily.xml

[2014-10-16 04:07] AgonyAunt commented on #149
By the way, since it will work as an override, you can offer via the forums for other people to test your changes as well. Just remember to put warnings that its a work in progress so some things might not look right.

[2014-10-16 09:46] AgonyAunt opened #156 "Serena - Player house - change description on sign"
About the sign
Name: "Workshop" (or "Rhistel's Workshop" in case the character name should be mentioned)

Description: Formerly known as the Sunken Flagon, the place has been now sold.
The new owner didn't seem interested in maintaining the previous activity, and now the local is being used as a workshop: arcane and alchemical working benches are available for use inside, also, the chant says the

[2014-10-19 04:58] AgonyAunt opened #157 "Cere's henchmen spawn hostile"
Faction henchmen don't, so why did Cere need to do it this way for it to work?

Investigate and fix.

[2014-10-20 07:54] AgonyAunt opened #158 "Myconid shrooms attack caster"
as title.

[2014-10-20 20:02] AgonyAunt opened #159 "DMs should not trigger clean up script"
because... duh. And events.

[2014-10-21 03:36] AgonyAunt opened #160 "RP XP - give direct or to different pool?"
As suggested by Cristel.

[2014-10-22 12:13] AgonyAunt commented on #158
Possibly fixed, will see if issue is raised again.

[2014-10-22 12:13] #158 closed, assigned to nobody

[2014-10-22 12:14] AgonyAunt commented on #154
Final version for now. Will hopefully GUIify it later in the year.

[2014-10-22 12:14] #154 closed, assigned to AgonyAunt

[2014-10-22 12:15] AgonyAunt commented on #146
Should be fixed now i believe.

[2014-10-22 12:15] #146 closed, assigned to AgonyAunt

[2014-10-22 12:15] AgonyAunt commented on #145
Fixes applied.

[2014-10-22 12:15] #145 closed, assigned to Mimi-Techmouse

[2014-10-22 18:58] AgonyAunt opened #161 "half-fiends/celestials"
Gain DR 5 instead of DR 10.

See: http://z13.invisionfree.com/nwn2planescape/index.php?showtopic=9885&st=0&#entry22722432

[2014-10-22 19:04] AgonyAunt opened #162 "Make plank on astral ship indestructible."
As per title

[2014-10-22 19:41] AgonyAunt opened #163 "Sacred Fist and Impromptu sneak attack abilities"
Simple fix - put uses per day at a big number like 999, that fixes it.

Also, Sacred flames has sacred defense description, so fix that.

[2014-10-23 02:59] Xndar commented on #161
Fixed the entries in the 2das, they are in my latest upload folder in the 2da DB folder. (Xndar Upload DR Hotfix)

[2014-10-23 03:31] AgonyAunt commented on #161
Cool.

And apparently the celestials might be able to use their racial feats before they should.
Also report of not seeing history feats, which i didn't think should be possible, unless they mean heritage feats, in which case i would presume they just didn't meet requiremetns.

[2014-10-23 10:10] AgonyAunt commented on #161
Apparently the player had confused background feats with history feats, so thats not an issue.

Regarding the half-celestial scripts, i checked the Summon planetar one you provided, there is no level check in it, so of course its usable.

So, check those and resubmit.

[2014-10-23 10:11] AgonyAunt commented on #138
Considering how rare petrification is on our server, unless someone else wants to tackle this, ill close it as being too minor to deal with.

[2014-10-23 10:11] #138 closed, assigned to AgonyAunt

[2014-10-23 10:12] AgonyAunt commented on #75
Decided against. Closing.

[2014-10-23 10:12] #75 closed, assigned to nobody

[2014-10-23 11:11] AgonyAunt commented on #161
Ok, it was just the summon planetar that was open to use from level 1, because you had simply reused the existing script.

I've fixed it, and also created a custom TLK entry so that it will give proper info.

[2014-10-23 12:16] AgonyAunt commented on #141
Heard nothing from player in a while, not seen. No update. Closing.

[2014-10-23 12:16] #141 closed, assigned to AgonyAunt

[2014-10-23 12:17] AgonyAunt commented on #23
Done

[2014-10-23 12:17] #23 closed, assigned to AgonyAunt

[2014-10-23 12:18] AgonyAunt commented on #163
Fixed the uses per day.

Forgot to fix Sacred Flames description.

[2014-10-23 12:19] AgonyAunt commented on #162
done

[2014-10-23 12:20] AgonyAunt commented on #161
Fixed.

[2014-10-23 12:20] #161 closed, assigned to Xndar

[2014-10-23 12:21] AgonyAunt commented on #159
Done

[2014-10-23 12:21] #159 closed, assigned to nobody

[2014-10-23 12:21] AgonyAunt commented on #156
Done

[2014-10-23 12:21] #156 closed, assigned to nobody

[2014-10-23 12:22] AgonyAunt commented on #152
Done

[2014-10-23 12:22] #152 closed, assigned to AgonyAunt

[2014-10-23 12:22] AgonyAunt commented on #151
As a test, released trial version of updated placeables,2da.

[2014-10-24 03:01] AgonyAunt opened #164 "More issues with half-outsider races"
I'd like to add something that isn't actually a bug or error, but something that just... bugged me a little with my half-celestial.... Why didn't it just know Celestial automatically? And does a half-fiend also only start with Common?

It's not a mechanical thing, but just a piece of nice fluff that just struck me a little when I noticed it.
Oh, and also, IF the language thing gets added, would a

[2014-10-24 03:02] AgonyAunt commented on #164
@Xndar - ill handle the language thing. If you can, take a look at the scripts, but its strange, the conditionals are in place.

[2014-10-24 03:02] #163 closed, assigned to nobody

[2014-10-24 09:26] AgonyAunt opened #165 "Samurai - grant iron will and perhaps another in epic?"
As per title, suggested by er_nano.

[2014-10-24 10:44] AgonyAunt opened #166 "Staredown - no uses left on feat"
Reported by er_nano.

[2014-10-24 11:22] AgonyAunt commented on #166
Problem spotted. Feats require -1 for uses/day not ***\* in the 2da.

[2014-10-24 11:24] AgonyAunt commented on #166
Change all new feats, and this is also the proper fix for Sacred Flames and Impromptu Sneak attack.

[2014-10-25 05:54] AgonyAunt commented on #86
Tested, its not a SR issue.

[2014-10-25 07:57] AgonyAunt commented on #123
Such an old thing, decided to forget it.

[2014-10-25 07:57] #123 closed, assigned to AgonyAunt

[2014-10-25 07:58] AgonyAunt commented on #86
Sent message to Juranne asking if issue is still real. Closing for now.

[2014-10-25 07:58] #86 closed, assigned to AgonyAunt

[2014-10-25 08:02] AgonyAunt commented on #36
Standardised descriptions to be 11+HD

[2014-10-25 08:02] #36 closed, assigned to AgonyAunt

[2014-10-25 08:48] AgonyAunt commented on #164
Strange, eveything looks right. Instead removed the return statements, made the conditionals have else statements, and changed GetTotalLevels to GetHitDice (not has good because that doesn't take into consideration negative levels).

[2014-10-26 06:11] AgonyAunt commented on #165
Done

[2014-10-26 06:11] #165 closed, assigned to nobody

[2014-10-26 06:11] AgonyAunt commented on #164
Done

[2014-10-26 06:11] #164 closed, assigned to AgonyAunt

[2014-10-26 06:11] AgonyAunt commented on #155
Rebaked

[2014-10-26 06:11] #155 closed, assigned to nobody

[2014-10-26 06:11] AgonyAunt commented on #135
Done

[2014-10-26 06:11] #135 closed, assigned to AgonyAunt

[2014-10-26 06:11] AgonyAunt commented on #166
Done

[2014-10-26 06:11] #166 closed, assigned to nobody

[2014-10-26 06:12] AgonyAunt commented on #151
Original restored.

[2014-10-26 06:12] #151 closed, assigned to AgonyAunt

[2014-10-27 04:47] AgonyAunt opened #167 "Small fixes for Agony"
TLK refs for Sacred Defense/Flames need correcting in feat.2da

Astral Plank - apparently still destroyable.

[2014-10-27 23:00] AlanLane commented on #162
Seems that the wooden plank is missing on the Dead God Rock when the ship fade in at the dock.

[2014-10-28 04:35] AgonyAunt opened #168 "Grate in undersigil - try and stop people getting stuck"

[2014-10-28 04:40] AgonyAunt opened #169 "Feat bonuses lost on death"
TSaO and Shield bonuses will not automatically restore after respawn/res.

[2014-10-28 04:43] AgonyAunt opened #170 "Switching shapes as dragon gives higher HP"
Mick64 reported this and gave possible solution:

[code]

[2014-10-28 04:46] AgonyAunt commented on #162
Buggeration.

[2014-10-28 08:04] AgonyAunt opened #171 "Do something about encumbrance on Vampire forms"
Low STR, big problem with movement.

[2014-10-28 08:12] AgonyAunt opened #172 "Update Blue Slaad"
Also investigate claw attacks not doing elemental damage sometimes

[2014-10-28 09:37] AgonyAunt opened #173 "Ronin Banzai charge"
[code]

[2014-10-28 10:04] AgonyAunt commented on #173
Need to edit description to clarify order of events.

[2014-10-28 10:10] AgonyAunt commented on #173
Tweaked to add Ronin levels to AB.
Also check instant flag in feat.2da

[2014-10-28 10:20] AgonyAunt commented on #170
Added to change self ability.

[2014-10-28 10:35] AgonyAunt commented on #169
Fix made

[2014-10-28 10:47] AgonyAunt commented on #167
TLK fixed

[2014-10-28 10:59] AgonyAunt commented on #168
Walkmesh cutter placed.

[2014-10-28 11:17] AgonyAunt commented on #167
Plank issue apparently caused by error in 2da.

[2014-10-28 11:17] AgonyAunt commented on #162
Issue caused by error in 2da.

[2014-10-28 11:44] AgonyAunt commented on #57
LE/NE keep Horned Devil. CE gets Hezrou. CG/CN gets Ragewalker

[2014-10-28 11:54] AgonyAunt commented on #111
For the moment dropping this idea.

[2014-10-28 11:54] #111 closed, assigned to AgonyAunt

[2014-10-28 12:54] #173 closed, assigned to AgonyAunt

[2014-10-28 12:56] #170 closed, assigned to AgonyAunt

[2014-10-28 12:57] #169 closed, assigned to AgonyAunt

[2014-10-28 12:58] #168 closed, assigned to AgonyAunt

[2014-10-28 12:58] #167 closed, assigned to AgonyAunt

[2014-10-28 12:59] #162 closed, assigned to AgonyAunt

[2014-10-28 13:00] #57 closed, assigned to nobody

[2014-10-28 15:14] AgonyAunt opened #174 "Erinyes to get change self"

[2014-10-29 14:38] n3y28eaeju opened #175 "Arboreal Archer Set Bonus Problems"
With the gloves, belt, and bow, the Arboreal Archer's Bow gets:
Greater Weapon Specialization (Longbow) and
Greater Weapon Focus (Longbow)

However, while the in-game description suggests the bonuses these feats provide replace the regular versions, in practice they give the *delta* between them. That is, GWS gives +2 damage, just like reglar WS. The effect is the same unless the earlier feat is m

[2014-10-29 16:23] AgonyAunt commented on #175
Thanks for the info, one for Cere to fix then.

[2014-10-30 11:59] AgonyAunt opened #176 "Auto-sorting on collection of items"
Just something that came out of discussions on Bioware boards.

What if you could select certain containers to fill up with certain types of items when you obtain them?

So gems into a gem bag, etc.

Would require storing object ID on essence to avoid constant inventory scans and checking for containers overflowing, but it might be nice.

What issues might exist? Purchasing items would also be aff

[2014-10-30 12:42] AgonyAunt opened #177 "Bard songs disable inspirations"
Look into fixing it.

[2014-10-30 12:45] AgonyAunt commented on #177
http://neverwintervault.org/project/nwn2/script/bard-songs-dont-stop-inspirations

[2014-10-30 12:46] AgonyAunt commented on #177
And also check that our version of  Ironskin chant works.

[2014-10-30 12:49] AgonyAunt opened #178 "Nymph Unearthly Grace - not work in heavy(ish) armour"
Silly AC obtainable when the lithe nymph is stomping around in full plate _facepalm_

Consider having it work cloth only (or with light armour as well).

Needs changing from just an active feat to one that an also be enabled/disabled on equip/unequip of armour.

[2014-10-30 13:17] AgonyAunt commented on #129
Closing for now, as its going to be tricky work. Elements already exist such as the actual VFX and NPC remote (which could be easily tweaked to use with these). However, a number of issues remain, especially things similar to user placeables and people leaving them lying around.

[2014-10-30 13:17] #129 closed, assigned to nobody

[2014-10-30 13:53] JivX commented on #178
And the race has a huge LA, so it's not really an issue.

[2014-10-30 14:14] JivX commented on #160
The only way I have ever seen RP XP done well was over on the ToA/PoS server.
1. Creatures give sub par XP in nearly all situations.
2. You get a Creature Killing Bonus XP Pool per day. I think it was about 3500ish.
3. When you RP with other people you got small incremental gains to both Creature Killing Bonus XP Pool and direct XP, in the amount of 35 to 75 per gain.

So you login and grind for a

[2014-10-30 19:23] AgonyAunt opened #179 "Check duration of find portal"
From er_nano:

mind checking if the portal opened by find portal has the right duration? jall should keep a portal open for 20 seconds (5 lvls, 3+2 int bonus), but i think it is well less

[2014-10-30 19:23] AgonyAunt commented on #179
Also, while at it, check planar protection spell.

[2014-10-30 20:44] AgonyAunt opened #180 "Kemo anims won't work for DarkArc's old SRR Erinyes"
Base race outsider, so that could be it. I had to put in additional code for races like Azer and others.

[2014-10-31 10:01] AgonyAunt opened #181 "Infinite staircase - issues"
Reported by er_nano

as jall finally got her last lvl of gatecrasher i visited the infinite staircase, so here's a small list of oddities/errors:

the walkmesh is blocked in the center, by the blue carpet

two of the stairs (winding staircase and a ''staircase'') lead to the same place, the abyssal maze

the arch with the pillar above it, next to the portal to karasuthra, has no portal

the portal

[2014-10-31 11:43] AgonyAunt commented on #29
Just noticed, Gargoyles were never given creature weapons anyway, and yet they have no-manual dexterity feat. Also needs changing then.

[2014-10-31 11:44] AgonyAunt commented on #29
race_feat_gargoyle and create appropriate weapons. Can be the first test of the system.
Maybe Bauriar as well.

and edit racialsubtypes as necessary as well.

[2014-10-31 14:56] Xndar commented on #181
1) Some of the arches are empty. I believe that one (if by pillar, they meant Obelisk) is reserved for the area Cere is working on.

2) There was never meant to be one for Sigil, and there isn't any need for it if you think about it. All of the portals spit you out at the portal back to sigil in the respective planes anyway.

3) Will fix the walkmesh issue and look at those two stairs.

4) Yeah I

[2014-11-01 20:37] AgonyAunt commented on #178
The LA isn't the issue. Nymphs stomping around in full plate is ;)

[2014-11-02 17:15] AgonyAunt opened #182 "Consider Natural Spell for Arcane casters and warlocks"
Requirements? How to make it work? Will FEATOR cover it? Only 2 options here as i recall in 2da, so Still Spell, Silent Spell, and then a third that opens the path to Natural Spell?

[2014-11-02 19:58] AgonyAunt opened #183 "Deathless frenzy causing vampires (and presume all undead) to lose death immunity"
There is a problem with deathless frenzy and vampire, it casts ward on vampire when going into rage, and by doing so when it expires, vampire looses his natural mind immunity (death ward effects)

resting doesn't re/apply native buffs back , relog is required.

[2014-11-03 05:08] AgonyAunt opened #184 "House for Trix"
Hello!

I would like to e-mail an area.
I have not managed to set the transitions up.
Door in and out of Sigil, Down to basement from trapdoor in bedroom and up from basement ladder to waypoint in bedroom.

I have not been able to setup the chairs, sofa and bed so they work (KEMO).

I have likely forgotten many other things.
Placeables have been turned into environmental objects and lights are wit

[2014-11-03 05:34] AgonyAunt commented on #183
Put in an extra check to see if the frenizer is already immune to death effects. If so, skip applying it.

[2014-11-03 05:38] AgonyAunt commented on #179
It was running of GetCasterLevel() but not sure that would return true value. Set it to directly use class levels.

[2014-11-03 05:39] AgonyAunt commented on #179
Also, avoud planar effects is 1 turn per caster level.

[2014-11-03 05:44] AgonyAunt commented on #180
Put in an extra swtich which basically defaults to human if specific race is not listed. Let's see how that works.

[2014-11-03 06:23] AgonyAunt commented on #178
Fix made.

[2014-11-03 06:34] AgonyAunt commented on #177
Interesting, scripts were already fixed to not remove inspirations. I'm pretty sure they still do though. Check it at some point.
Ironskin though was changed, as it was incorrectly set.

[2014-11-03 06:36] AgonyAunt commented on #174
Added

[2014-11-03 06:40] AgonyAunt commented on #171
Bat form now gets 10 STR, Gas form already had 10 STR.

[2014-11-03 07:31] AgonyAunt commented on #29
First test with Gargoyles.

[2014-11-03 09:44] AgonyAunt opened #185 "Edit soundsettypes.2da to allow more choices for players"
Working on it.

[2014-11-05 06:22] AgonyAunt commented on #29
Wait for feedback from players on this.

[2014-11-05 06:22] #171 closed, assigned to AgonyAunt

[2014-11-05 06:22] #174 closed, assigned to AgonyAunt

[2014-11-05 06:23] AgonyAunt commented on #177
Wait for player feedback (or test self)

[2014-11-05 06:24] #178 closed, assigned to nobody

[2014-11-05 06:25] #179 closed, assigned to nobody

[2014-11-05 06:25] AgonyAunt commented on #180
This was for chairs only. If that works, can add same fix to all anims.

[2014-11-05 06:27] #181 closed, assigned to Xndar

[2014-11-05 06:28] #183 closed, assigned to nobody

[2014-11-05 06:29] #185 closed, assigned to nobody

[2014-11-05 08:38] AgonyAunt opened #186 "Mechanus area - too hard?"
@Xndar - you want to take a look at this?

cryptc says he went there at level 3 and got his ass kicked by a single duodrone.

[2014-11-05 13:13] AgonyAunt opened #187 "Cloaks with wings"
Nooooo!!!

I made an announcement: http://z13.invisionfree.com/nwn2planescape/index.php?showtopic=10002

[2014-11-05 14:32] n3y28eaeju opened #188 "Armor update broke my character"
While I appreciate the new options, the full-body skintight suit my character was wearing got replaced by something a little more... um... revealing.

Old appearance:

![nwn2_ss_110114_080921-cop](https://cloud.githubusercontent.com/assets/9448409/4919042/c06574d8-64f6-11e4-9902-1cfabc574bb5.png)

Looked through the item appearance changer and the old model simply does not appear to be available,

[2014-11-05 16:18] AgonyAunt commented on #188
@Mimi-Techmouse - what you think? Another overriden armour? Is that one of those you included?

[2014-11-05 16:20] AgonyAunt commented on #188
@n3y28eaeju - thank you so much for taking the time to raise the issue here. So much easier to track problems this way.

[2014-11-06 06:45] AgonyAunt opened #189 "Thought Taker needs tinting"
The clothing update for mindflayers caused him to look white.

[2014-11-06 06:50] AgonyAunt opened #190 "Appearance Changer causing server crashes"
cryptc also reported a server crash

[code]

I think it might be best if we remove these options from the convo until it can get further testing.

What you think?

[2014-11-06 07:36] AgonyAunt commented on #189
Changed

[2014-11-06 07:36] #189 closed, assigned to AgonyAunt

[2014-11-06 07:36] AgonyAunt commented on #29
Cere had an interesting idea that may make all this irrelevant.

[2014-11-06 07:41] AgonyAunt commented on #186
I've checked. HPs are not as high as cryptc claimed. Either he got an elite or something else wrong.
Made some minor tweaks to the spawns. Closing.

[2014-11-06 07:41] #186 closed, assigned to Xndar

[2014-11-06 07:51] AgonyAunt commented on #187
Temp removed the option to modify default items while the problem with crashes is investigated.

@Mimi-Techmouse - Will this also remove this option? Would it only be with default cloaks the wings would appear, or did you do something so that regular cloaks can also  be wings?

[2014-11-06 07:51] AgonyAunt commented on #190
Icelander also reported being able to crash the server - although they say its been happening to them for days.

[2014-11-06 07:51] AgonyAunt commented on #190
Also, removed options for default parts changing while this issue is investigated.

[2014-11-06 07:52] AgonyAunt commented on #180
Closing for now, will see if further reports come or not.

[2014-11-06 07:52] #180 closed, assigned to AgonyAunt

[2014-11-06 12:57] AgonyAunt opened #191 "Sitting animation for halflings - too low"
I guess they are getting bunched together with bigger races - probably messed up the conditional.

[2014-11-06 19:59] AgonyAunt opened #192 "Improve efficiency of finding essence object"
Been thinking of this for a while.

Most scripts that need the essence call GetItemPossessedBy. But that has to be inefficient as it must be doing an inventory scan.

Instead, see if cryptc already put in a function for storing essence as local var on PC. If not, make one and get all scripts that need essences to call that.

So, on first call, it checks for the local var on PC, if does not exist,

[2014-11-06 20:07] AgonyAunt commented on #190
Ill throw this in as well from Mander

[code]

Also a second report of armour stacking and renaming to armour.

I may have to do a full revert of the xp_craft stuff if this happened after today's update where i removed the "default" modification options.

I guess the former problem occurs because you started adding race specific options, so the other custom races got left out?  Anyway, that's a le

[2014-11-07 02:33] miriamchaturvedi commented on #187
I just forgot to take them out of the list. I will send you a new version of the appearance lists shortly.

Unless you disable ALL cloak modification, they will be available until they're taken out of the appearance changer lists.

[2014-11-07 02:39] miriamchaturvedi commented on #188
Dang it, looks like one of the old armor sets slipped through the cracks. What's the new appearance?

[2014-11-07 02:41] miriamchaturvedi commented on #190
Nope, poor little orcs just accidentally got left out in the cold. This should be an easy fix.

As for the server crashing - I'm pretty sure the server has always suffered whenever multiple people were flipping through appearances as fast as possible (and EVERYONE does it as fast as possible). Right now its hard to find a time when 2+ people aren't doing it at the same time, too.

I can't comment

[2014-11-07 02:59] ghost commented on #188
A topless thong.

[2014-11-07 03:48] #153 closed, assigned to Mimi-Techmouse

[2014-11-07 03:48] #147 closed, assigned to Mimi-Techmouse

[2014-11-07 03:48] AgonyAunt commented on #188
LOL.... what is the account name/name of character. Ill take a look and see if i can revert it.

[2014-11-07 03:49] AgonyAunt commented on #190
Right, makes sense

[2014-11-07 04:51] ghost commented on #188
eidolon/Sahariel. She has two sets of robes in her inventory that should look like the above (one of them no longer has the same appearance because I tried to fix it with the appearance changer)... she's currently wearing a Cleric's Robe out of embarassment and shame.

[2014-11-07 12:14] AgonyAunt commented on #190
Closing this then. Let's see how things go.

[2014-11-07 12:14] #190 closed, assigned to Mimi-Techmouse

[2014-11-07 12:15] AgonyAunt commented on #188
Ah, is going to be hard finding those items.  Next time you log off, before you do so, equip the armour, it will help finding it... or at least put it in the first slot in your inventory. Let me know when its done, ill try and jump as quick as possible to check it out.

[2014-11-07 12:15] AgonyAunt commented on #187
Presume this is now fixed. Closing.

[2014-11-07 12:15] #187 closed, assigned to Mimi-Techmouse

[2014-11-07 12:15] AgonyAunt commented on #176
Beta version on the server.

[2014-11-07 12:15] AgonyAunt commented on #172
New model in.

[2014-11-07 12:15] #172 closed, assigned to AgonyAunt

[2014-11-07 12:16] AgonyAunt commented on #64
Understand still work to be done, but i think we can close this now and leave it to Mimi to refine as she will.

[2014-11-07 12:16] #64 closed, assigned to Mimi-Techmouse

[2014-11-07 13:20] AgonyAunt opened #193 "Rakshasa - DR and SR not properly applied"
[code]

[2014-11-07 13:20] AgonyAunt commented on #193
Guess Arcanaloth also needs checking then.

[2014-11-07 13:23] AgonyAunt commented on #193
Also asked PhantomHermit how they can determine its not applying and whether activating the feat solves it.
Pointed out that most slashing weapons are also piercing (eg: Longsword, Shortsword, etc).

[2014-11-07 13:25] AgonyAunt opened #194 "Mind Blank (immunity to mind effecting) and Undead"
[code]

[2014-11-07 13:51] ghost commented on #188
Okay, they are in the first two slots of my inventory. "Sneaky Robes" and "Shadow Silk".

[2014-11-07 15:34] AgonyAunt commented on #188
Excellent, thanks.

[2014-11-07 15:41] AgonyAunt commented on #188
Got it, armour type 181, and cloth base type i think.

Can take a look next chance i get... but as it is human female... that means updating the 1Gb HAK :(

[2014-11-07 15:55] Xndar commented on #193
Easy fix...Rakshasa and Arcanaloth are getting the right feats I don't think. Just noticed when I tried to roll Arcanaloth that it was getting the Rakshasa feat.

[2014-11-07 15:57] Xndar commented on #193
Aren't\* rather

[2014-11-07 15:59] Xndar commented on #193
EDIT: Rakshasas don't get the proper "Properties" feat at all, while Arcanaloths get the Rakshasa feat. Seems like there was a numbering error in implementation, as I double-checked my .2das and the numbers match up properly.

[2014-11-07 16:00] AgonyAunt opened #195 "Arcanaloth gets Rakshasa racial feat"
As title

[2014-11-07 16:09] Xndar commented on #193
I think the issue is that both properties feats used the same 'Constant', which I have fixed...odd though, as it wasn't an issue in testing at all.

[2014-11-07 16:24] Xndar commented on #195
Please see forum PM, I'm not sure wtf is causing this, but from what I can tell in the 2das, there is no reason for the races to be getting the wrong feats.

[2014-11-07 16:28] Xndar commented on #195
NM, found the issue. Someone forgot to re-number the feat.2da entries after copy-pasting

[2014-11-07 22:48] miriamchaturvedi commented on #188
Female human and elf seem to be missing that armor set. There's a few other oddities that crept in as well - do you want me to fix them if we we're updating again anyway?

[2014-11-08 10:35] AgonyAunt commented on #188
Would be great, yeah. Although don't package them in HAKs, just zip up the models/textures that need to replaced, ill do the packing.

[2014-11-08 18:31] miriamchaturvedi commented on #188
Ok

[2014-11-09 03:28] AgonyAunt commented on #195
This is the same problem as #193 - closing

[2014-11-09 03:28] #195 closed, assigned to Xndar

[2014-11-10 04:33] AgonyAunt opened #196 "Two Swords as One problem"
Unequipping the short sword does not remove the bonus.

[2014-11-10 04:43] AgonyAunt opened #197 "Infinite staircase - more issues"
From er_nano

still issues there:

the portal to mechanus doesnt seem to work
the added portal (with the eyes of zehir model above it) isnt clickable
removing the carpet didnt solve the walkpath issue in the centre
a few portals are yet to be added

[2014-11-10 12:34] AgonyAunt commented on #188
Assigning to Mimi while she packages the appropriate files.

[2014-11-12 04:30] AgonyAunt opened #198 "Gatecrasher bug?"
FRom er_nano

i also think (mostly sure) the gatecrasher planar survival resistances dont apply

[2014-11-13 07:14] AgonyAunt commented on #198
Apparently he took the resistances but was still getting affected by damage on planes with planar effects.

[2014-11-13 07:18] AgonyAunt commented on #29
Cere's work now supersedes this feature.

[2014-11-13 07:20] AgonyAunt commented on #149
Due to the wide range of issues that may occur with this, i.e: literally having to change a wide number of XML files for it to work with them, ill leave this as an optional use thing. Basically @AlanLane - you can release for public use as an override, we can provide a link to it on the wiki for those who want to use. But we will not integrate into the main module.

[2014-11-13 07:20] #149 closed, assigned to AlanLane

[2014-11-13 07:21] AgonyAunt commented on #175
_Pokes Cere_ Any chance of getting a fix for this?

[2014-11-13 07:52] AgonyAunt commented on #194
Made it so Mind Blank checks for immunity to mind affecting on target and if so, doesn't apply.

[2014-11-13 08:49] AgonyAunt commented on #184
In module, needs connecting to Clerk's ward

[2014-11-13 09:28] AgonyAunt commented on #196
Needed a delay command to notice that the weapon had actually been unequipped.

[2014-11-13 09:28] #196 closed, assigned to AgonyAunt

[2014-11-13 09:29] #194 closed, assigned to AgonyAunt

[2014-11-13 09:29] AgonyAunt commented on #193
Added, will be in shortly.

[2014-11-13 09:29] #193 closed, assigned to Xndar

[2014-11-13 09:29] AgonyAunt commented on #191
Fixed.

[2014-11-13 09:29] #191 closed, assigned to AgonyAunt

[2014-11-13 10:09] AlanLane commented on #176
I've noticed a bug. Sometimes items won't be stored in containers and get lost.
If you activate the script on a container it will works.
Then my game crashed and i've rejoined.
And BAM, item lost somewhere in the multiverse.

I'll try to replicate systematically the bug.

[2014-11-14 19:29] AgonyAunt commented on #176
Cool, thanks. Thats seems to match other reports we have had, but its rather strange.

[2014-11-14 19:43] AgonyAunt opened #199 "Tharizdun cultists not matching arnour"
Will it fix with the armour fixes?

[2014-11-14 19:59] AgonyAunt opened #200 "Staff of Air - slow/haste"
Both slow and haste are on the same slot. As subradials only work to one level, and this is on an item, you can't select sub-sub-spells.

[2014-11-14 20:44] AgonyAunt opened #201 "New? Or old armours... 4 feet!"
So, this player reported having 4 feet.

Seems to happen with two armours.

Any ideas @Mimi-Techmouse?

![screenshot from 2014-11-14 23 28 47](https://cloud.githubusercontent.com/assets/8188251/5053109/0b38b7d2-6c58-11e4-8f6f-4753ecc1e0ee.png)

![screenshot from 2014-11-14 23 28 40](https://cloud.githubusercontent.com/assets/8188251/5053111/14a05f82-6c58-11e4-8688-18fdd6be61cc.png)

Doesn't make a

[2014-11-15 05:48] AgonyAunt opened #202 "Daisho Wakazashi only has one appearance"
No idea why, try changing to different model.

[2014-11-16 04:56] AgonyAunt opened #203 "Faction Alert - call for other members"
Only works if in same area?

[2014-11-16 05:20] AgonyAunt commented on #200
Fix made

[2014-11-16 05:20] #200 closed, assigned to AgonyAunt

[2014-11-16 05:25] AgonyAunt commented on #202
Changed type

[2014-11-16 05:25] #202 closed, assigned to nobody

[2014-11-16 05:27] AgonyAunt commented on #199
Looks fine in toolsest.

[2014-11-16 05:27] #199 closed, assigned to nobody

[2014-11-16 05:29] AgonyAunt commented on #203
No way. It does a standard GetFirstPC/GetNextPC routine. Area cannot be affecting it.

[2014-11-16 07:23] AgonyAunt commented on #184
Done, will go in with update

[2014-11-16 07:23] #184 closed, assigned to AgonyAunt

[2014-11-16 18:46] AgonyAunt opened #204 "Bauriar - no attack anims at all"
They should have unarmed attack anim, but doesn't seem to be working. Check the anim exists in our HAKs.

[2014-11-17 05:15] AgonyAunt opened #205 "Add RWS pocket cathedrals"
http://neverwintervault.org/project/nwn2/hakpak/original-hakpak/rws-pocket-cathedrals

[2014-11-17 05:16] AgonyAunt commented on #203
People confirm problem exists.

[2014-11-17 09:06] AgonyAunt commented on #204
Ah, mistaken, no anims were provided. Although 2 handed thrusting exists, could allow equipping of spears,

[2014-11-17 09:06] #204 closed, assigned to AgonyAunt

[2014-11-17 19:06] AgonyAunt commented on #203
Hotfixed. Fixes need integrating with next update.

[2014-11-17 19:06] #203 closed, assigned to AgonyAunt

[2014-11-17 19:07] AgonyAunt commented on #176
As far as i know, all more or less ok now. Some bugs may exist or need some tweaks making but will solve those if they are raised.

[2014-11-17 19:07] #176 closed, assigned to AgonyAunt

[2014-11-17 19:08] AgonyAunt commented on #66
This isn't going to be done by me any time soon. As a long term objective it can still be done, but will raise it again if it becomes likely to happen.

[2014-11-17 19:08] #66 closed, assigned to AgonyAunt

[2014-11-17 19:11] AgonyAunt commented on #192
Decided against this as its still going to require confirming that the stored item is indeed the one that should be referenced (eg: logout/login can result in different object) so would be dangerous to change this. Closing.

[2014-11-17 19:11] #192 closed, assigned to AgonyAunt

[2014-11-17 19:19] AgonyAunt commented on #177
Confirmed, all ok

[2014-11-17 19:19] #177 closed, assigned to AgonyAunt

[2014-11-21 21:41] miriamchaturvedi commented on #201
They just need to remove the default boots, or use invisible shoes. We had outfits like this before which included feet / hands for seamless transitions at the wrists and ankles.

[2014-11-21 21:44] miriamchaturvedi opened #206 "Faction Billboards"
From this thread: http://z13.invisionfree.com/nwn2planescape/index.php?showtopic=10106

Create billboards for in game faction announcements.

[2014-11-22 04:52] AgonyAunt opened #207 "Look at CR of creatures in Endless Maze"

[2014-11-22 04:53] AgonyAunt commented on #207
@Ceremorph suggested these values...

Abyssal Dire Bear/Dire Boar/Sabretooth:
16/19/22, seems fair
Fiendish Minotaur:
17/19/21, this is less than Babau, and I'd consider bumping them to 19/21/23 because of their character levels.
Acolyte/Faithful/Horned Priest of Baphomet:
19/21/23, these guys are tougher than straight minos, I'd bump them to 20/22/25; horned priest has warpriest levels and makes

[2014-11-22 16:32] AgonyAunt opened #208 "Placeables for houses"
Neephra wants these adding...

http://www.nexusmods.com/neverwinter2/mods/960/?tab=2&navtag=http%3A%2F%2Fwww.nexusmods.com%2Fneverwinter2%2Fajax%2Fmodfiles%2F%3Fid%3D960&pUp=1

[2014-11-25 08:51] AgonyAunt opened #209 "Male pixie - wrong feats"
Pixie - Male gets wrong feats, it actually gets human feats. The female version has correct feat selection, but the male one is just worthless tosser currently. Credits to Emptyboxes for spotting it.

[2014-11-25 12:39] AgonyAunt commented on #201
Hmm, thought we tried this.

But ok, we will put it on a back burner for now.

[2014-11-25 12:39] #201 closed, assigned to Mimi-Techmouse

[2014-11-25 12:41] AgonyAunt commented on #206
Is someone willing to work on this? For the moment, i'm not. And we don't even have all faction HQs, so until that is in, i can't see this being acceptable.

Objections to closing this issue until such a time as someone is willing to implement?

[2014-11-25 17:52] AgonyAunt opened #210 "Succubus and others change self feat"
Make it so that form is selectable - probably via convo

[2014-11-28 17:50] AgonyAunt opened #211 "Neerepha house"
Request for a player house in Clerk's Ward

[code]

@Mimi-Techmouse - could you handle connecting it? Otherwise i'm liable to break the walkmesh again.

[2014-11-28 17:51] AgonyAunt commented on #211
Ill pass on the link for the house itself when i get it.

[2014-11-29 07:35] AgonyAunt opened #212 "Hellfire shield issues"
Hellfire Shield's description states that it triggers against any melee attacks against its User, however I've noticed that it also triggers against the following:
- Saves - Hellfire Shield triggers when saving against spells (But not all of them!) Most commonly it rapidly fires against the Hezrou poison gas, or any AoE effects Save that the Owner walks into (Once again this doesn't always happen,

[2014-11-30 19:10] AgonyAunt opened #213 "Flesh to Stone works on Undead"
THink about giving their properties specific immunity to that spell.

[2014-11-30 19:16] miriamchaturvedi commented on #211
Ok. Forum message is better as I always forget to check github here. .

[2014-11-30 19:18] miriamchaturvedi commented on #206
I thought we just wanted to keep it kicking around until there was time. I don't mind theoretically working on it in the future.

[2014-11-30 20:09] AgonyAunt commented on #206
Fair enough, then ill close. I don't like keeping issues open when there is nothing specific planned. As times change, so does the player base and direction the server is going.

[2014-11-30 20:09] #206 closed, assigned to nobody

[2014-11-30 20:10] AgonyAunt commented on #211
Grrrr... this is meant to be a better solution that forums.

[2014-12-01 04:45] AgonyAunt opened #214 "Auto sort/collect feature works when using app changer"
Think i can work around this by adding an extra check for the anti-muling script variables.

As those get cloned when appearance changes, should just be able to check last owner, and then not sort if it is equal to current owner.

[2014-12-01 18:33] AgonyAunt opened #215 "Natural Spell not working while in Were forms"
This might be because the polymorph effect is not flagged as a wildshape.

Not 100% certain though, because i'm sure i've had natural spell working with arcane polymorphs, so should cross check that.

[2014-12-02 01:37] ghost commented on #209
I could probably just take a look at the female feats and set those up for the males if it's not taken care of already, right? Or potentially, the pixie males don't have the correct configuration. Of course, it's now looking a bit difficult for a newb, but I'll still try to find it.

[2014-12-02 02:19] miriamchaturvedi commented on #211
I use it to keep track of my todo list! I just don't check more than once a week. . .

[2014-12-02 05:10] AgonyAunt commented on #211
[QUOTE]Hello AA,

I'm finally done with my house! But I can't make the Kemo scripts work properly, or at least, I don't know if they are broken or not, because every time I try to sit, the PC remains stuck in the chair. Please check them!
As I have already told you, I would like that house next to the Hall of Records (using the door in this [URL=http://s1375.photobucket.com/user/Neerepha/media/NWN

[2014-12-02 05:11] AgonyAunt commented on #209
As you saw last night during out chat, the feats given is defined by racialsubtypes.2da, so its just an incorrect entry there. They should have the same value as the female.

Its a minor change, so ill fix that myself.

We need to find you something else, something a little more interesting.

[2014-12-02 05:14] AgonyAunt commented on #210
@SCoD-PhoenixRising  - this one might be interesting.

Currently the script is set to produce a random form. Ideally it needs replacing with a script that fires a convo asking which form you would like, and that calls another script that sets your form based on choice.

Fancy taking a shot at it?

[2014-12-02 05:16] ghost commented on #209
Will do. I had actually noticed, as I mentioned in Skype, the 2da issue, but wasn't sure it if was the only edit needed.

[2014-12-02 05:31] ghost commented on #210
I can certainly try.

[2014-12-02 07:33] ghost commented on #210
Something else. The RemoveExtraHitPoints function isn't working. While the function looks to be correct, in-game, I've noticed it doesn't work, and I can build up 100 or even 200 extra hit points.

[2014-12-02 08:02] AgonyAunt commented on #211
Apparently also a transition from the lower floor to the upper is not work.

[2014-12-03 04:33] ghost commented on #160
I generally prefer the idea of directly giving role-play XP, but then, we get a combat bonus for RP XP stored. Give half directly and half to the single pool? I've not looked at the values yet to know if the amount would be so low as to discourage role-play if any are doing it purely for the experience (though I would hope that isn't the case for anyone).

[2014-12-05 06:47] AgonyAunt opened #216 "Recompile bard songs"
As scripts seem not to disable inspirations, maybe the problem is compiled core scripts are not current with uncompiled.

[2014-12-05 19:17] AgonyAunt opened #217 "Grain of Salt quest never gets marked as complete"
Very minor-

The "Grain of Salt" quest never gets marked as complete. (It works, but never moves out of the current quests folder). Unless there is more to the quest than I am aware.

[2014-12-05 19:19] AgonyAunt commented on #160
@SCoD-PhoenixRising - Thanks for the input. Its something i haven't given too much thought to yet, but will keep it in mind.

[2014-12-07 02:24] ghost commented on #188
Any progress on this?

[2014-12-10 04:48] miriamchaturvedi commented on #188
Sort of. . . I know what needs to be done, and its half way compiled, I just haven't finalized the changes yet.

[2014-12-10 04:50] miriamchaturvedi commented on #211
Uh, any chance of getting a version not uploaded on a site I have to sign in to?

[2014-12-10 07:11] AgonyAunt opened #218 "New blue slaad appearance model available and red slaad"
http://neverwintervault.org/project/nwn2/hakpak/original-hakpak/blue-slaad-slaad-bleu

http://neverwintervault.org/project/nwn2/hakpak/original-hakpak/red-slaad-slaad-rouge

[2014-12-10 07:12] AgonyAunt commented on #211
Ah, bad neerepha. Ill poke them.

[2014-12-10 11:19] AgonyAunt opened #219 "Allow DMFI chat window to be resized"
add resizable=true to the XML.

[2014-12-11 05:28] AgonyAunt opened #220 "Quest items in bags are not removed"
Apparently if a quest item is in a container when you hand it in, it doesn't get removed. Not a problem for most quests, its minor, but for some this could be a serious exploit.

[2014-12-11 05:32] AgonyAunt commented on #211
Dropbox link : https://www.dropbox.com/s/fmi7gf5yy22tk6p/Neerepha's%20House.mod?dl=0

[2014-12-11 14:29] miriamchaturvedi commented on #211
Great, that worked. She split it into two areas for some reason, I'm assuming it should be merged as appropriate?

[2014-12-11 17:34] AgonyAunt opened #221 "Show faction badge not working"

[2014-12-11 20:53] AgonyAunt opened #222 "Arcanaloth DR lost when stoneskin cast on it."

[2014-12-12 08:11] AgonyAunt commented on #211
For a player house, ideally. Depends on whether you want to go to the effort.

[2014-12-12 09:20] AgonyAunt commented on #215
Changed EffectPolymorph to set Wildshape to true. It could be dependent on that.

[2014-12-12 10:29] AgonyAunt commented on #222
Looked at the script, i have no idea why it might get lost.

Do some testing @Xndar please and see if you can figure out what is happening.

[2014-12-12 10:30] AgonyAunt commented on #221
Changed to use SpeakString instead of FloatingTextOnCreature as for some reason that just isn't showing to others.

[2014-12-12 11:43] AgonyAunt commented on #207
Done

[2014-12-12 11:43] #207 closed, assigned to AgonyAunt

[2014-12-12 11:44] AgonyAunt commented on #209
Done

[2014-12-12 11:44] #209 closed, assigned to AgonyAunt

[2014-12-12 11:44] AgonyAunt commented on #213
Done

[2014-12-12 11:44] #213 closed, assigned to nobody

[2014-12-12 11:46] AgonyAunt commented on #214
Done

[2014-12-12 11:46] #214 closed, assigned to AgonyAunt

[2014-12-12 11:46] AgonyAunt commented on #215
Wait for feedback or test, see if it helps.

[2014-12-12 11:48] AgonyAunt commented on #216
Done

[2014-12-12 11:48] #216 closed, assigned to AgonyAunt

[2014-12-12 11:48] #218 closed, assigned to AgonyAunt

[2014-12-12 11:49] AgonyAunt commented on #219
Done

[2014-12-12 11:49] #219 closed, assigned to nobody

[2014-12-12 11:49] #220 closed, assigned to nobody

[2014-12-12 11:50] AgonyAunt commented on #221
Done

[2014-12-12 11:50] #221 closed, assigned to AgonyAunt

[2014-12-13 05:31] AgonyAunt commented on #197
Hi,

I noticed a few bugs with the Infinite Staircase:
- The Mechanus portal pops up the portal conversation dialog but never transfers you when you say yes.
- The area around Farhan and Alijab'bay's tent isn't walkable. (The tent itself is but can't be reached by walking to it. The problem seems to be the two market stalls on the way in.)

[2014-12-13 10:09] AgonyAunt opened #223 "Magical Beast forms - need an upgrade"
Might as well check out dragons at the same time.

[2014-12-15 07:56] AgonyAunt opened #224 "Thought Taker - infinite XP."
Speaking with Thought-Taker, the Illithid in the
Foul Olde Spirit, presents options to roll Bluff,
Diplomacy or Intimidate in response to his line
about eating your brain.

Only one can be selected at a time, but every
time you speak with him, they're still available,
even if you've already rolled that skill against
him that day.

I would imagine the intended behavior is for a
player to have only

[2014-12-15 08:26] AgonyAunt commented on #224
Ah, looks like this is my fault with the recent change to ga_takeitem

[2014-12-15 11:11] AgonyAunt commented on #215
Reported as working

[2014-12-15 11:11] #215 closed, assigned to AgonyAunt

[2014-12-15 12:04] AgonyAunt commented on #182
All polymorphs would have to be changed to be flagged as wildshapes.

[2014-12-15 12:28] AgonyAunt commented on #212
Nothing to do about it. Ideally it would be an effect damage shield, but it can't be as that doesn't allow damaging caster. So it was implemented as an AoE.

This then damages (or tries to) anything in the AoE.

If the target succeeeds in its save, the owner is still damaged.

[2014-12-15 12:29] AgonyAunt commented on #212
Nothing to do here. Best could be would be to make it damage every round regardless while activated and do it as a damageshield effect.

[2014-12-15 12:29] #212 closed, assigned to AgonyAunt

[2014-12-15 12:29] AgonyAunt commented on #223
fix made

[2014-12-15 12:29] #223 closed, assigned to nobody

[2014-12-15 12:30] AgonyAunt commented on #224
Fix made (possibly)

[2014-12-15 12:30] #224 closed, assigned to AgonyAunt

[2014-12-15 12:30] AgonyAunt commented on #208
@Mimi-Techmouse - you still working on adding stuff to HAKs?

[2014-12-15 13:47] AgonyAunt opened #225 "Check resizing chat box"
..I haven't been able to resize the DMFI Voice Entry box yet.
Perhaps something went wrong with the fix?

[2014-12-17 03:22] miriamchaturvedi commented on #208
I think those placeables look like fun, but I thought you were uncertain about adding them all?

Either way, I wasn't planning on touching placeables in a while, no.

[2014-12-17 03:58] miriamchaturvedi commented on #211
Uploading the house now. The two areas have been merged into one. A key has also been provided.

I did not touch the kemo scripts.

[2014-12-17 09:31] AgonyAunt commented on #208
Ok, then we will close.

[2014-12-17 09:31] #208 closed, assigned to nobody

[2014-12-17 09:31] AgonyAunt commented on #211
Great

Will reopen and assign to me for update.

[2014-12-18 06:55] AgonyAunt opened #226 "Add Golden Bariaur Inn"
And it's done! I have also put some NPCs there, I hope this won't be a problem. The walkmeshes are working and everything looks fine to me. I would like you to modify the barman in order to make him sell waiters contracts, so people can easily roleplay that they are served. You may also add the doorman, a Bariaur named Goldmane, which gives the name to the inn. I couldn't pick up Bariaur as race f

[2014-12-18 07:27] AgonyAunt opened #227 "Utterdark Blast damages undead"
Apparently. However, it doesn't heal undead either, and not PCs.

So find out why it isn't healing undead enemies or summons, but make sure it can't heal PCs.

A simple GetIsPC should do the trick.

[2014-12-18 19:14] Neerepha commented on #211
Well, to be honest the areas were divided because I wanted different music ambients as well... I completely forgot about this place and I am sorry, otherwise I'd said it earlier. I've wrote Mimi a PM about it, asking for additional changing due to this merge, and I am sorry as well this thing got so complicated for stupid things.

[2014-12-18 19:25] Neerepha commented on #226
Bariaur Goldmane has been added, fixed a couple of minor things, changed voices according to each character (don't know if useful). Please keep the NPCs positions, as well as the different areas (at least keep divided the tavern from the inn area: if you feel the urge to merge something just merge the First and Second Floor.)

[2014-12-19 06:18] AgonyAunt commented on #226
[QUOTE]https://www.dropbox.com/s/wpg1xst22w87fbr/The%20Golden%20Bariaur%20%28fixed%29.mod?dl=0

Here the fixed version! I've also noticed a couple of glitches more and I've fixed them. I also added the Bariaur (I've understood how to do it >_>)
May I contact Mimi as well? I would like to make the rooms buyable for real, like the ones in the Plane of Fire!

[QUOTE]

[2014-12-19 06:18] AgonyAunt commented on #226
Oh, try to keep the different areas in the module, because each one has a specific music that suits the ambient. And please also mind to spawn the NPCs where I placed them. Sorry, I tend to be fussy >_<

[2014-12-19 06:19] AgonyAunt opened #228 "Quake's Place - by Serena"
[QUOTE]Just (barely) in time for the Xaos month!
I've shared on dropbox the finished module for the pub together with some NPC's blueprints I made, hope it works fine!

https://www.dropbox.com/sh/x4ftfgwau8pxs6n/AADDgjEEzXwEvmLwbn4ue2kua?dl=0

Among the npcs there's also Quake herself, which I think would be nice to have spawning randomly at one of the two bar areas!

Let me know how it goes :D

[

[2014-12-19 06:21] AgonyAunt commented on #211
[QUOTE]And I know you will kill me because I've already sent you too many PMs today, but...
I've noticed now, and just now, that Mimi changed my house merging the first and second floor. Now, the two areas were meant to be separated with different background musics suiting each floor. I would like to have them back, separated as they were (I can send you the link again where to download the module

[2014-12-19 19:17] Neerepha commented on #226
Sent a PM to Mimi asking her to add the same script the inn in the Plane of Fire has. (making the rooms really rentable)

[2014-12-19 21:00] miriamchaturvedi commented on #228
Is this The Hive itself, or something else?

[2014-12-19 21:01] miriamchaturvedi commented on #226
Sure, can do. How do you want to handle the order of who does what, AgonyAunt?

[2014-12-19 21:11] miriamchaturvedi commented on #226
Oh, also, lovely areas.

[2014-12-20 06:11] Neerepha commented on #226
Thank you a lot, Mimi.

[2014-12-20 08:41] SerenaSV commented on #228
Yes, it should be a tavern in the Hive!
 Exact location is unimportant as it tends to... change!

Edit:
updated the npc's blueprints with some convos, ERF replaced!
Also, if someone could allow Quake to sell drinks and food would be awesome

[2014-12-20 14:25] miriamchaturvedi commented on #228
No, no, as in "The Hive" - the bar that is the Xaos headquarters. Nice areas, either way.

[2014-12-20 14:32] miriamchaturvedi commented on #211
Small areas really shouldn't be split up into different areas by floor, it takes up more space in the module and makes for a harder to navigate area list. Player houses especially should be one area, the way we have things organized.

[2014-12-20 17:06] Neerepha commented on #211
Fine, fine, then just set the area name simply as "Neerepha's House", please. And sorry, I didn't know about this.

[2014-12-20 20:40] SerenaSV commented on #228
Oh right, sorry!
Honestly, at first I thought that by working on the Xaos HQ I was indeed going to make The Hive, but then on the Factol Manifesto the only mentioned place was Quake's pub... I really don't know if it's the same place o.o it doesn't seem so...

[2014-12-20 23:27] miriamchaturvedi commented on #228
Wierd, I thought I found details for The Hive in the Factol's Manifesto. Oh well.

[2014-12-21 09:00] AgonyAunt opened #229 "Song of Requiem not working"
After my last change looks like its broke.

[2014-12-21 09:01] AgonyAunt opened #230 "Celestial Torc and set."
When you have al the items. And put them al together the Celestial Torc(Necklace) feat: Good DOmain Powers disapears and get replaced with +6 vs Feat (Also...the +6 vs Fear does not disapear when you take the set apart again, it remains on the Necklace.

http://z13.invisionfree.com/nwn2planescape/index.php?showtopic=10257&st=0&#last

[2014-12-21 09:02] AgonyAunt commented on #226
@Mimi-Techmouse - If you can handle the final tweaks then ill get it added to the module.

[2014-12-21 09:03] AgonyAunt commented on #228
Yeah, also thought it was Quake's Place as well... so seems good.

[2014-12-21 09:06] AgonyAunt opened #231 ""None" voice set gone"
Looks like it was accidentally removed when i updated soundsets.2da

[2014-12-21 10:15] SerenaSV commented on #228
Yup, as they put it on both the Mimir and the Manifesto, The Hive is another "district" inside the Hive Ward, and would be indeed the real Xaos HQ. But then, talking about houses used by the faction, they give all the info and plans about Quake's Place...
On the bright side... maybe adding an interior is slightly more comfortable than adding a whole new district to the Hive Ward?

[2014-12-22 00:25] Neerepha commented on #211
I've found few issues with my house module edited by Mimi (no water in the tub, two doors at bathroom entrance) and I've also modified the area name and the music. I've painted the water, but I still can't see it when I try the module, and I really can't understand why.

https://www.dropbox.com/s/opsysrhzdk41r75/Neerepha%27s%20House%20edited.mod?dl=0

[2014-12-22 05:06] miriamchaturvedi commented on #226
Ok.

[2014-12-22 05:16] Mimi-Techmouse opened #232 "Armor magically morphs into belts"
This was reported by Xndar and others a while back, and then it seemed to clear up. Then Forgotten Dreamer had the same bug happen to him the other day.

Basically, a set of armor turns into 100's of stacked belts for no reason.

I have an idea as to what may be causing this, and am making this issue to remind me to look into it.

[2014-12-22 05:18] Mimi-Techmouse opened #233 "Possible Plane of Fire issues"
Including:
- No monsters?
- Wierdness with people sometimes being stuck on the boat (usually after the server has been up a while)
- Possible bugs with the elemental damage script.

[2014-12-22 07:49] AgonyAunt opened #234 "Scare scroll description"
The Scare scroll claims to be Wizard / Sorcerer (1), but the spell is actually a level 2 spell mechanically in-game.

[2014-12-22 07:50] AgonyAunt commented on #228
Agreed

[2014-12-22 07:51] AgonyAunt commented on #233
So nice to see people logging their own issues ;)

[2014-12-22 07:52] AgonyAunt commented on #232
Bizarre! Must be something to do with the appearance changer but why and how... that's just bizarre. Could be some sort of hardcoded condition.

Perhaps the only fix would be to check stack size and base item type of initial item, and then compare with the created item. If different, give error message, then revert.

[2014-12-22 07:54] AgonyAunt opened #235 "Error in learning spell from scroll"
The Resist Elements scroll is named "Resist Elements", but the associated learned spell is named "Resist Energy".

[2014-12-22 09:25] AgonyAunt commented on #227
Ah, this is because negative damage doesn't actually heal undead. It needs to be scripted to check for if target is undead and if so, then just do direct damage instead of negative.

No idea how Obsidian missed this one considering all undead in campaigns.

[2014-12-22 09:26] AgonyAunt commented on #229
Reverting, the check for requiem playing is needed, otherwise it resets the song type from the other inspiration.

[2014-12-22 09:26] AgonyAunt commented on #231
Fixed

[2014-12-22 09:26] #231 closed, assigned to AgonyAunt

[2014-12-22 09:26] #229 closed, assigned to nobody

[2014-12-22 09:27] AgonyAunt commented on #188
@Mimi-Techmouse - you can close all issues which you have provided changes for, update going in soon.

[2014-12-22 11:03] AgonyAunt opened #236 "Auto-sort"
Still having problems - get in game and check what is happeneing and do testing!

[2014-12-22 13:04] ghost commented on #188
Is this actually fixed? My armor's appearance hasn't reverted to the old appearance, and I still can't find the old appearance in the appearance changer.

[2014-12-22 16:15] miriamchaturvedi commented on #232
I think it might be a line of code I left in when I was trying to enable belts on previously un-enabled ouftis. .  .

[2014-12-23 07:18] AgonyAunt opened #237 "Low Light Vision - hostile?"

[2014-12-24 10:13] AgonyAunt opened #238 "Gatecrasher portal bug"
The abyss to courtyard portal does not properly open for a gatecrasher's ability to open a portal without a key.

(The portal works correctly in the courtyard to abyss direction.)

I think that this is a recent regression in the past week or two, but I'm not 100% certain.

Observed this over several hours so I think it's not just a random problem with the portal script getting confused as to who i

[2014-12-24 10:15] AgonyAunt opened #239 "Error in placeables.2da"
Entry 1079 in SCoD's tiles.2da is broken. There are more columns than columns are defined in the 2da.

CODE
1079    Stern_ L/R(Bilge)   ***\*    PS  STRZ    2

The line should probably read:

CODE
1079    Stern_L/R(Bilge)    ***\*    PS  STRZ    2

(Note lack of space after Stern_ in the corrected line.)

[2014-12-24 10:18] AgonyAunt commented on #188
Its now a new entry... it may be that for some reason its not showing.

Mimi?

[2014-12-25 08:20] AgonyAunt opened #240 "Iajistsu feat not being granted at level 5?"
I made a Samurai, and on reaching lvl 5 I was expecting to be granted the aforementioned feat. I've spoken to other samurai players and they were not granted the feat either. Is the feat not included, or is there a bug with its being given on level up?

[2014-12-26 08:10] AgonyAunt commented on #238
Just confirmed again that this is still busted for my Gatecrasher (5). It's definitely a consistent repro (across several server resets and nobody else being present in the room as well; when someone else with a portal key walks by, the portal spawns as expected). Character sheet confirms present of the Open Portal feat and so far, I've yet to encounter another portal with this issue.

The portal

[2014-12-26 08:26] AgonyAunt opened #241 "More about Hymn of Requiem."
I do just want to mention its not the turning off inspirations that drives me insane its the if you don't have an inspiration active then try to activate the song it will fail to go off and waste the Song and cooldown.   if that aspect could be fixed I'd be happy with just that.

[2014-12-26 08:29] AgonyAunt opened #242 "Etherealness scroll does not have right spell for learning from it."
Long standing bug. Probably a couple of others as well.

[2014-12-28 00:37] LadyLightning commented on #182
Requirements could (and should) be as simple as being of a race which has an alternate form.
In fact, some forms that should really allow spellcasting by default, such as a dragon's ability to
turn into a humanoid (which has hands for somatic and vocal chords for verbal), or the
vampire's ability to reveal their Dark Aspect (which also can form somatic and verbal components just fine), should argu

[2014-12-28 03:18] miriamchaturvedi commented on #188
Its a new entry. I guess a new entry will need to be added to the appearance changer list as well in order to reach it.

[2014-12-29 09:27] AgonyAunt opened #243 "Hideous Blow + Hellfire blast - damage every round"
Hello. Problem here! It seems that Warlock Buddy
is applying Hideous Blow every round, even out of
combat. This is normally not a problem, but with
Hellfire Blast active, it's ~damaging~ you every
round, even while you're not fighting! Is it possible
that Hellfire Blast is damaging the player on cast,
rather than on-hit? If so, would it be possible to fix
it with Hideous Blow? I see absolutely no

[2014-12-29 09:27] AgonyAunt commented on #243
Not sure about this one. Might be a little tricky.

[2014-12-29 09:30] AgonyAunt commented on #182
Anyone can post here, its one reason for making it public.

Can't make it work with an alternate feat as the ability itself is hardcoded. All can do its grant Natural Spell to anyone who should have the ability to cast spells while polymorphed. Will consider that. But first the actual spells would need to be changed to be wildshapes and need to consider if there are any issues we could create by d

[2014-12-30 04:18] miriamchaturvedi commented on #228
Agony, would you like me to give it a random door transition and get it ready for adding to the module, or are you working on it already? I'm hoping to get in a few hours of toolsetting in the next few days, and could take care of it and the Golden Bariaur then.

[2014-12-30 06:53] AgonyAunt opened #244 "No manual dexterity feat - not working?"
Gargoyle could equip a weapon.

[2014-12-30 18:29] miriamchaturvedi commented on #226
Uh, Neerepha, does not moving the NPCs mean you don't even want them to walk around? Because it would be fun if they walked around and had conversations.

Also, since this is the "celestials-only" bar in Sigil, I'm thinking the NPCs should probably be at least snooty to tieflings.

[2014-12-30 18:54] AgonyAunt opened #245 "Death on rest.... can we check for it and apply rez?"

[2014-12-30 18:55] AgonyAunt commented on #228
Not touched it at all, so whatever you can do would be great.

I've had zero time in toolset in the last week or so, but just one more day of work, then i'm golden.

[2014-12-30 18:57] AgonyAunt commented on #226
@Mimi-Techmouse -  not certain if people get email notifications on updates, but i think they definitely do if you use the AT symbol, so @Neerepha

Not an expert at GitHub...

[2014-12-30 19:06] Neerepha commented on #226
Uhm, alright, let them move but the barman, the woman dressed in white and the receptionist. I would also like Milich to stop and stare at the plant if he's going to move too.

[2014-12-30 22:12] Electrohydra commented on #245
Adding this to the OnPlayerRest script should fix it. I ran tests and it seems to work (at least in my minimalist module, not sure how it will interact with Sigil's stuff. Particularly the closing the death screen takes into account vanilla NWN2 death system, might need a tweek.

// Returns the player character to life if the rest killed him (Because of lost CON)
void ResurectIfDead(object oPC)
{

[2014-12-31 07:47] AgonyAunt commented on #245
Interesting. Thanks.

[2014-12-31 07:48] AgonyAunt commented on #245
Hmm.. why bother with the GetLastRestEventType() call? Why not just check for GetIsDead?

[2014-12-31 07:53] AgonyAunt commented on #240
Figured it out, a space in the 2da.

[2014-12-31 07:55] AgonyAunt commented on #237
Nope, not hostile. No idea why its a problem.

[2014-12-31 07:55] #237 closed, assigned to nobody

[2014-12-31 07:57] AgonyAunt commented on #160
As i;ve done nothing with this for weeks, and have not made up my mind as to whether its a good idea, and the existing system has been ok for years, closing for now until i become convinced a change is required.

[2014-12-31 07:57] #160 closed, assigned to AgonyAunt

[2014-12-31 08:04] AgonyAunt commented on #239
Wow, multiple spaces. Fixed them.

[2014-12-31 08:16] AgonyAunt commented on #244
Can't see a reason for this unless the creature doesn't have the feat. I made a tweak to the logic of the unequip part of the script to make its working clearer, but don't think it will make a difference.

[2014-12-31 08:23] AgonyAunt commented on #245
I've just gone with this

[code]

Should do the same shouldn't it?

If you get ressed the gui should close anyway, and no need to restart resting.... i think.

[2014-12-31 08:29] AgonyAunt commented on #227
Also, it checks for hostiles so should only work against those.

Therefore ill change the spell to heal undead but keep it working only against hostiles.

[2014-12-31 10:29] #245 closed, assigned to AgonyAunt

[2014-12-31 10:30] #244 closed, assigned to AgonyAunt

[2014-12-31 10:31] #240 closed, assigned to AgonyAunt

[2014-12-31 10:31] #239 closed, assigned to AgonyAunt

[2014-12-31 10:33] AgonyAunt commented on #236
Still need to make further testing and tweaks to make sure things work right.

[2014-12-31 10:34] #227 closed, assigned to nobody

[2014-12-31 10:36] AgonyAunt commented on #211
@Mimi-Techmouse - JFYI, removed the floating water and the double door.

Didn't notice the comment about no water  in the tub. This is a tricky one, we have had this before. In the end had to get another builder to try it to make it work.

Any ideas Mimi?

[2014-12-31 11:44] AgonyAunt opened #246 "Utterdark blast can now heal allies"
Might want to tone this down.

[2014-12-31 17:07] Electrohydra commented on #245
The GUI doesn't close on it's own (at least, in a simple module), which is why I had to make a call to close it (otherwise the player would need to either pick the Respawn or Exit Game options to close the GUI).

The GetLastRestEventType() is to be more efficient. OnPlayerRest is called at both the start of the rest and the end of the rest, so using GetLastRestEventType() makes sure the rest of th

[2014-12-31 17:14] Electrohydra commented on #245
Actually I believe the issue with the GUI is that it probably does close on resurrection (I assume the resurrection code closes it), but at least with the code I was using you are resurrected only 0.1 seconds after you die (to make it as seamless as possible), but the vanilla OnDeath code uses DelayCommand 2.5f to bring up the death GUI. So you would need either to close the GUI explicitly as I di

[2014-12-31 18:01] Electrohydra commented on #245
Sorry for the triple post, I think I found a better solution to make it a lot nicer, and never open the death GUI in the first place. Just throw a check in the onDeath code that pops up the GUI to not pop it up if the PC is alive.

[2015-01-01 17:00] miriamchaturvedi commented on #246
I was asked if it was an exploit to make one's allies hostile and then chain utterdark blast enemies and allies alike for greatest harm/heal potential. . .

I DO think its a generally good thing that warlock negative energy can heal their undead buddies, though.

[2015-01-01 17:02] miriamchaturvedi commented on #211
The floating water came from the previous water in the tub. You just have to paint water in the tub and rebake.

[2015-01-01 17:29] Neerepha commented on #211
I painted it already, perhaps I forgot to bake after. However, I've done it and checked: it works now.
https://www.dropbox.com/s/opsysrhzdk41r75/Neerepha%27s%20House%20edited.mod?dl=0 <- you can find the fixed version here, if you want to spare you time. (It has the same name of the previous one, don't be afraid to overwrite it)

[2015-01-09 05:12] AgonyAunt commented on #235
No idea on what controls this. Searched everywhere. Closing.

[2015-01-09 05:12] #235 closed

[2015-01-09 05:12] AgonyAunt commented on #242
No idea, can't find a relevant 2da. Closing.

[2015-01-09 05:12] #242 closed

[2015-01-09 05:35] Xndar opened #247 "Arcanaloth DR Issue"
I've confirmed this IG with my 'loth...DR just vanishes on rest after having cast stoneskin. Going to try setting the feat to active as well as persistent, to see if this for some reason is the root of the issue.

[2015-01-09 05:42] Xndar commented on #247
Nope, resting after casting stoneskin still removes the racial DR entirely. Will check both the spell scripts to see what is possibly conflicting.

[2015-01-09 05:48] AgonyAunt commented on #182
Decided against this for a number of reasons. Some technical, some RP.

[2015-01-09 05:48] #182 closed

[2015-01-09 05:55] Xndar commented on #247
The issue also applies to Rakshasa. I think the problem is that, for whatever reason, stoneskin overrides pre-existing DR when cast. When removed, the rest of the DR feat's properties (ie, the rest of the creature properties) are still in effect, so the feat's script won't reset the DR even if manually activated.

Likely this is going to require splitting the DR from the rest of the creature prope

[2015-01-09 06:22] AgonyAunt commented on #236
Functionality pulled.

[2015-01-09 06:22] #236 closed

[2015-01-09 06:22] AgonyAunt commented on #226
Added.

[2015-01-09 06:22] #226 closed

[2015-01-09 06:23] AgonyAunt commented on #211
Ah, didn't notice this... otherwise could have added it today. Next update ;)

[2015-01-09 06:24] AgonyAunt commented on #188
Should be fixed now.

[2015-01-09 06:24] #188 closed

[2015-01-09 14:03] ghost commented on #188
\o/ Yay! Verified in game.

[2015-01-10 15:17] Mimi-Techmouse opened #248 "Golden Bariaur Bugs"
- Couldn't buy key?
- Too many wandering NPCS

[2015-01-11 18:24] AgonyAunt opened #249 "Make exception in on-equip script to allow new creature weapons"
For those with no manual dexterity feat.

[2015-01-11 18:25] AgonyAunt commented on #247
Ok. It shouldn't be a biggie though. If you add a new feat to the racial 2da existing ones will get the new feat when they next level up automatically.

[2015-01-11 18:26] AgonyAunt commented on #188
Excellent!

[2015-01-11 18:27] AgonyAunt opened #250 "Nymph kiss - error in DC"
A player forwared this yesterday. Checked it with a diffrent character and it was acting the same.

She had charisma bonus +11. Was lvl 8. The DC on the spell was 14 when it aught to be at 20+

[2015-01-12 07:10] AgonyAunt opened #251 "Eladrin feat that gives bonus to weapon"
It sticks.

Can we change this to apply damage direct to PC... its going to bypass resistances if we do, but at least shouldn't be sticky then.

Or.... OOC portal - while scanning item properties, add check for temp properties and remove? Is that even possible?

[2015-01-12 19:35] AgonyAunt opened #252 "Barman in Golden Bariuar buys at full price."
The Barman in the Golden Bariaur buys items at their full price. Please fix this as soon as possible.

[2015-01-13 08:14] AgonyAunt commented on #250
DC is correct. Player was targeting a race that doesn't allow full bonus.

[2015-01-13 08:14] #250 closed

[2015-01-13 08:42] AgonyAunt commented on #249
Exception already in the script.

[2015-01-13 08:42] #249 closed

[2015-01-13 09:28] AgonyAunt commented on #251
Done

[2015-01-13 09:28] #251 closed

[2015-01-13 09:28] AgonyAunt commented on #252
Done

[2015-01-13 09:28] #252 closed

[2015-01-13 10:28] AgonyAunt opened #253 "Remove alert when you inspect someone with kemo descriptions"

[2015-01-14 07:37] AgonyAunt commented on #211
Oh right, i got it now after your PM. I still haven't added it. Sorry.

[2015-01-14 12:22] AgonyAunt commented on #246
Hmm.. the script checks for hostile targets only, so you can't heal friendlies. I was set to STANDARD_HOSTILE. I've just tweaked this to SELECTIVE_HOSTILE for more selective damage.

Turning an ally hostile... well, yes, i'd call this an exploit and thus anyone doing it should be warned about it.  However, since it would be PCs.... i can just add an extra condition that checks if the target is a P

[2015-01-14 12:25] AgonyAunt commented on #243
Can't think of a simple fix. Unless someone else can figure out how to handle this ill close it for now.

[2015-01-14 12:25] AgonyAunt commented on #234
So minor, ill close it.

[2015-01-14 12:25] #234 closed

[2015-01-14 12:26] AgonyAunt commented on #253
Will be in next update.

[2015-01-14 12:26] #253 closed

[2015-01-14 12:26] AgonyAunt commented on #246
Leaving as is. Will see if further reports come.

[2015-01-14 12:26] #246 closed

[2015-01-14 12:26] AgonyAunt commented on #211
Added to build module, will be up soon.

[2015-01-14 12:26] #211 closed

[2015-01-15 15:33] AgonyAunt opened #254 "Bat's not spawning in Cellar"
Probably due to only lowest level of spawns being available or something like that.

[2015-01-16 07:19] AgonyAunt opened #255 "OOC portal check - giving both option to enter and flagging as illegal"

[2015-01-16 12:22] AgonyAunt commented on #255
Should be fixed, or at least alleviated some. Wait for feedback.

[2015-01-16 12:22] AgonyAunt commented on #248
Will close this then.

[2015-01-16 12:22] #248 closed

[2015-01-16 13:00] AgonyAunt commented on #254
Hotfixed in, apply to module with next update.

[2015-01-16 13:00] #254 closed

[2015-01-17 07:01] AgonyAunt opened #256 "Unearthly Grace still references dodge bonuses"

[2015-01-17 07:02] AgonyAunt opened #257 "Earthplanes portal convo says its going back to sigil like an exit convo rather than a desscrip to earth plane."
Per title

[2015-01-17 17:56] SerenaSV commented on #255
As of today, I still get both options in the portal conversation.
Still able to enter without problem, anyway.

[2015-01-18 15:45] #29 closed

[2015-01-18 16:33] Ceremorph commented on #175
No idea what's happening here. The GWS feat is being granted, but it's not applying the damage. I'm going to guess that GWS actually grants +2 and it stacks on top of WS's +2. I'm going to try that on the script and see if we get any progress.

[2015-01-18 16:39] Ceremorph commented on #230
I think he must have somehow had a very very old version of the torc. The current standard enchants on the torc by itself are +4 AC, Save vs. Fear +6, and LG only. The good domain powers were taken off the torc a long long time ago.

[2015-01-18 16:39] #230 closed

[2015-01-18 17:07] ghost commented on #175
_> I'm going to guess that GWS actually grants +2 and it stacks on top of WS's +2._

Yes, this is exactly how the feats really work (contrary to the in-game description). Sorry if that was not clear from what I wrote above.

[2015-01-19 00:38] #175 closed

[2015-01-19 05:31] AgonyAunt opened #258 "Change ownership of Rhistel's shop to Tald"

[2015-01-19 05:32] AgonyAunt commented on #255
Thanks for the info.

[2015-01-19 05:33] AgonyAunt commented on #175
Ah, yes. You will need to grant both feats to get the double bonus.

[2015-01-19 09:16] AgonyAunt opened #259 "Add stacks of coins to trevor."

[2015-01-19 09:16] AgonyAunt commented on #259
Or... more expensive coins.

[2015-01-19 09:54] SerenaSV commented on #258
New area, door and sign name: Tald's Workshop

Sign description:
Formerly known as the Sunken Flagon, later the property of an enchanter.

Now, this unassuming abode is home to a tall, private man. Curiously, unlike the rest of the area, there are absolutely no cats to be seen anywhere near the house.

[2015-01-19 09:55] SerenaSV commented on #258
I'll be trying to complete the trade today, hadn't the chance until now unfortunately :(

[2015-01-19 13:37] AgonyAunt commented on #258
Yeah, Tald sent me the details in a PM, but thanks anyway.

[2015-01-19 14:36] Ceremorph opened #260 "Sacred Fist on_equip exclusion for creature weapons"
Agony, you mentioned this on the forums, but I'm not really sure exactly you're asking to be done. So... if you don't have the time for this fix, explain and kick it back to me.

[2015-01-19 19:22] SerenaSV commented on #258
Great! Also, deal was finally concluded! (Now I will just wait for my house in the meantime :D)

[2015-01-23 10:32] AgonyAunt commented on #260
Going in with current update.

[2015-01-23 10:32] #260 closed

[2015-01-23 10:33] AgonyAunt commented on #258
Done. New key to be gained from DM (and of course payment). Old key will still work on old house, you can trash it or hand it over. However, in DM client new versions of the key will be named Tald's key and your new house key will be called Rhistel's New House Key.

[2015-01-23 10:33] #258 closed

[2015-01-23 10:33] AgonyAunt commented on #257
Fixed

[2015-01-23 10:33] #257 closed

[2015-01-23 10:33] AgonyAunt commented on #256
Fixed

[2015-01-23 10:33] #256 closed

[2015-01-23 10:36] AgonyAunt commented on #247
As I understand, this is not an issue, it was just icon disappearing.

[2015-01-23 10:36] #247 closed

[2015-01-23 10:37] AgonyAunt commented on #222
This is a duplicate of issue #247 i believe which is now closed.

[2015-01-23 10:37] #222 closed

[2015-01-23 10:37] AgonyAunt commented on #198
Fixed i presume with the last update?

[2015-01-23 10:37] #198 closed

[2015-01-23 10:37] AgonyAunt commented on #197
Fix put in with update.

[2015-01-23 10:37] #197 closed

[2015-01-23 10:38] AgonyAunt commented on #228
In with the next update.